﻿@using NetRachisCore.Helpers
@model NetRachisCore.Models.BusinessObjects.ProcessExecution
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    <title>@ViewBag.Title</title>
    var recCount = 1;
}


<div class="single-product-tab-area pd-tb-15">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            @if (Model.ProcessExecutionId > 0)
                            {
                                <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Process Execution Edit</a></li>
                            }
                            else
                            {
                                <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Process Execution Create</a></li>
                            } 
                        </ul>
                        <a href="../ProcessExecution/TestResultIndex" data-toggle="tooltip" title="Click to view existing results" style="float:right">View Existing Result</a>
                        @using (Html.BeginForm(Actions.AddEdit, Controllers.ProcessExecution, FormMethod.Post, new { id = "frmProcessExecution" }))
                        {
                            @Html.HiddenFor(m => m.ProcessExecutionId)

                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-level-down" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.ProjectId, Model.ProjectList, "Select Project", new { @tabindex = 1, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;" })
                                                    @Html.HiddenFor(m => m.ProjectId)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-level-down" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.ModuleId, Model.ModuleList, "Select Module", new { @tabindex = 2, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;" })
                                                    @Html.HiddenFor(m => m.ModuleId)
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="wizard">
                                        <div class="content">
                                            <div id="myTabContent" class="tab-content custom-product-edit m-20 p-20">
                                                <div class="table-responsive" id="divProcessTable">
                                                    <table class="table table-hover table-mailbox processTable" style="min-width:675px;">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th class="text-center">Process Id</th>
                                                                <th class="text-center">Testcase Builder</th>
                                                                <th class="text-center">Command</th>
                                                                <th class="text-center">Status</th> 
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.ProcessExecutionChildRefList != null)
                                                            {
                                                                if (Model.ProcessExecutionChildRefList.Count > 0)
                                                                {
                                                                    foreach (var item in Model.ProcessExecutionChildRefList)
                                                                    {
                                                                        <tr>
                                                                            @if (recCount == 1)
                                                                            {
                                                                                <td class="text-right childtd tdwidth20"><i class="fa fa-minus-circle text-danger removeProcessRow" aria-hidden="true" style="font-size: x-large;cursor: pointer;visibility:hidden"></i></td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td class="text-right childtd tdwidth20"><i class="fa fa-minus-circle text-danger removeProcessRow" aria-hidden="true" style="font-size: x-large;cursor: pointer;"></i></td>
                                                                            }
                                                                            <td class="childtd tdwidth110">
                                                                                <div class="review-content-section">
                                                                                    <div class="mg-b-pro-edt" style="text-align:center;">
                                                                                        @recCount
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td class="childtd tdwidth110">
                                                                                <div class="review-content-section">
                                                                                    <div class="mg-b-pro-edt">
                                                                                        @Html.DropDownList("TestCaseBuildId", item.TestCaseBuildList, "Select Testcase Build", new { @tabindex = 3, @class = "form-control pro-edt-select form-control-primary drpTestcaseBuiild inputreq", @style = "cursor:pointer;" })
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td class="childtd tdwidth80">
                                                                                <div class="review-content-section">
                                                                                    <div class="mg-b-pro-edt">
                                                                                        @Html.DropDownList("Command", item.CommandList, "Select", new { @tabindex = 4, @class = "form-control pro-edt-select form-control-primary drpCommand inputreq", @style = "cursor:pointer;" })
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td class="childtd tdwidth80">
                                                                                <div class="review-content-section">
                                                                                    <div class="mg-b-pro-edt">
                                                                                        <input type='text' id='ProcessStatus' class="form-control inputreq" value='@item.ProcessStatus' placeholder="Process Status" tabindex="5" /> 
                                                                                    </div>
                                                                                </div>
                                                                            </td> 
                                                                            <td class="childtd tdwidth20"><i class="fa fa-plus-circle text-success addProcessRow" aria-hidden="true" style="font-size: x-large; cursor: pointer"></i></td>
                                                                        </tr>

                                                                            recCount = recCount + 1;
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td class="text-right childtd tdwidth20"><i class="fa fa-minus-circle text-danger removeProcessRow" aria-hidden="true" style="font-size: x-large;cursor: pointer;visibility:hidden"></i></td>
                                                                    <td class="childtd tdwidth110">
                                                                        <div class="review-content-section">
                                                                            <div class="mg-b-pro-edt" style="text-align:center;">
                                                                                1
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="childtd tdwidth110">
                                                                        <div class="review-content-section">
                                                                            <div class="mg-b-pro-edt">
                                                                                @Html.DropDownList("TestCaseBuildId", Model.TestCaseBuildList, "Select Testcase Build", new { @tabindex = 3, @class = "form-control pro-edt-select form-control-primary drpTestcaseBuiild inputreq", @style = "cursor:pointer;" })
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="childtd tdwidth80">
                                                                        <div class="review-content-section">
                                                                            <div class="mg-b-pro-edt" style="text-align:center;">
                                                                                @*  @Html.DropDownList("Command", Model.CommandList, "Select", new { @tabindex = 4, @class = "form-control pro-edt-select form-control-primary drpCommand inputreq", @style = "cursor:pointer;" })*@
                                                                                <a href="#" title="Start" class="pd-setting-ed startBtn">Start</a>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="childtd tdwidth80">
                                                                        <div class="review-content-section">
                                                                            <div class="mg-b-pro-edt">
                                                                                <input type='text' id='ProcessStatus' class="form-control inputreq" value='' placeholder="Process Status" tabindex="5" /> 
                                                                            </div>
                                                                        </div>
                                                                    </td> 
                                                                    <td class="childtd tdwidth20"><i class="fa fa-plus-circle text-success addProcessRow" aria-hidden="true" style="font-size: x-large; cursor: pointer"></i></td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                    @Html.HiddenFor(m => m.strProcessExecutionChildRefList)
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="divTCBuildSelect" style="display:none">
                                        @Html.DropDownList("HdnTestCaseType", Model.TestCaseBuildList, "Select Type", new { @class = "form-control pro-edt-select form-control-primary drpTestcaseBuiild inputreq", @style = "cursor:pointer;" })
                                    </div>
                                    <div id="divCommandSelect" style="display:none">
                                        @Html.DropDownList("HdnCommand", Model.CommandList, "Select", new { @class = "form-control pro-edt-select form-control-primary drpCommand inputreq", @style = "cursor:pointer;" })
                                    </div>

                                    @*<div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                <button id="btnSubmit" type="submit" class="btn btn-primary waves-effect waves-light m-r-10" tabindex="6">
                                                    Save
                                                </button>
                                                @Html.ActionButton("Discard", Actions.Index, Controllers.ProcessExecution, new { }, new { @class = "btn btn-warning waves-effect waves-light", @tabindex = "7" })
                                            </div>
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () { 
        $(".menuitem li a.active").removeClass("active");
        $("#testexecution-menu a").attr("aria-expanded", "true");
        $("#testexecution-menu ul").addClass('in');
        $(".menuitem a#aServiceControl").addClass('active');

        //To bind the module dropdown based on the project selection
        $(document).on("change", "#ProjectId", function () {
            var control = $(this);
            if ($(control).val() > 0) {
                $.ajax({
                    type: 'post',
                    url: "../ProcessExecution/GetModulesByProjectId",
                    data: {
                        projectId: $(control).val()
                    },
                    async: false,
                    success: function (data, item) {
                        $('input[name=' + $(control).attr("id") + '').val($(control).val());
                        $("#ModuleId").empty();
                        $("#ModuleId").append('<option value="">Select Module</option>');
                        $("#select2-ModuleId-container").text("Select Module");
                        $.each(data.data, function (key, value) {
                            $("#ModuleId").append('<option value="' + key + '">' + value + '</option>');
                        });
                        $(".drpTestcaseBuiild").empty();
                        $(".drpTestcaseBuiild").append('<option value="">Select TestCase Build</option>');
                        $(".drpTestcaseBuiild").val('');
                    },
                    cache: false,
                    error: function (e) {
                        if (e.status == 401) {
                            window.location.href = "../Login/UserLogin";
                        } else {
                            alert(e.responseText);
                        }
                    }
                });
            }
            else {
                $("#ModuleId").empty();
                $("#ModuleId").append('<option value="">Select Module</option>');
                $("#ModuleId").val('');
                $("#select2-ModuleId-container").text("Select Module");
                $(".drpTestcaseBuiild").empty();
                $(".drpTestcaseBuiild").append('<option value="">Select TestCase Build</option>');
                $(".drpTestcaseBuiild").val('');
            }
        });

        //To bind the test case build dropdown based on the module selection
        $(document).on("change", "#ModuleId", function () {
            var control = $(this);
            var projId = $("#ProjectId").val();
            if ($(control).val() > 0) {
                $.ajax({
                    type: 'post',
                    url: "../ProcessExecution/GetTestCaseBuildByFilter",
                    data: {
                        projectId: projId,
                        moduleId: $(control).val(),
                    },
                    async: false,
                    success: function (data, item) {
                    $('input[name=' + $(control).attr("id") + '').val($(control).val());
                    $(".drpTestcaseBuiild").empty();
                    $(".drpTestcaseBuiild").append('<option value="">Select TestCase Build</option>');
                        $.each(data.data, function (key, value) {
                        $(".drpTestcaseBuiild").append('<option value="' + key + '">' + value + '</option>');
                    });
                },
                cache: false,
                    error: function (e) {
                        if (e.status == 401) {
                            window.location.href = "../Login/UserLogin";
                        } else {
                            alert(e.responseText);
                        }
                    }
            });
            }
            else {
                $(".drpTestcaseBuiild").empty();
                $(".drpTestcaseBuiild").append('<option value="">Select TestCase Build</option>');
                $(".drpTestcaseBuiild").val('');
            }
        });

        //To remove the required class on change event
        $(document).on("change", ".inputreq", function () {
            if ($(this).val()) {
                if ($(this).hasClass("inputreqerror")) {
                    $(this).removeClass("inputreqerror");
                }
            }
        });

        // Add process row on add button click
        $(document).on("keypress click", ".addProcessRow", function (evt) {
            var control = $(this);
            var empty = false;

            //if ($("#ProjectId").val() == '' || $("#ProjectId").val() == 0) {
            //    $("#ProjectId").addClass("inputreqerror");
            //    empty = true;
            //}
            //else {
            //    $("#ProjectId").removeClass("inputreqerror");
            //}

            //if ($("#ModuleId").val() == '' || $("#ModuleId").val() == 0) {
            //    $("#ModuleId").addClass("inputreqerror");
            //    empty = true;
            //}
            //else {
            //    $("#ModuleId").removeClass("inputreqerror");
            //}

            var input = $(control).parents("tr").find('input[type="text"]');
            input.each(function () {
                if ((!$(this).val() || $(this).val() == 0) && $(this).hasClass("inputreq")) {
                    $(this).addClass("inputreqerror");
                    empty = true;
                } else {
                    $(this).removeClass("inputreqerror");
                }
            });

            var select = $(control).parents("tr").find('select');
            select.each(function () {
                if (!$(this).val()) {
                    $(this).addClass("inputreqerror");
                    empty = true;
                } else {
                    $(this).removeClass("inputreqerror");
                }
            });
            if (!empty) {
                var tcbSelect = $("#divTCBuildSelect").html();
                var cmdSelect = $("#divCommandSelect").html(); 

                var rowIndex = $("#divProcessTable table tbody tr:last-child").index();

                var row = '<tr>' +
                    '<td class="text-right childtd tdwidth20"><i class="fa fa-minus-circle text-danger removeProcessRow" aria-hidden="true" style="font-size: x-large;cursor: pointer;"></i></td>' +
                    '<td class="childtd tdwidth110"><div class="review-content-section"><div class="mg-b-pro-edt" style="text-align:center;">' + parseInt(rowIndex + 2) + '</div></div></td>' +
                    '<td class="childtd tdwidth110"><div class="review-content-section"><div class="mg-b-pro-edt">' + tcbSelect + '</div></div></td>' +
                    '<td class="childtd tdwidth80"><div class="review-content-section"><div class="mg-b-pro-edt" style="text-align:center;"><a href="#" title="Start" class="pd-setting-ed startBtn">Start</a></div></div></td>' +
                    '<td class="childtd tdwidth80"><div class="review-content-section"><div class="mg-b-pro-edt"><input type="text" id="ProcessStatus" class="form-control inputreq" value="" placeholder="Process Status" tabindex="5" /></div></div></td>' +
                    '<td class="childtd tdwidth20"><i class="fa fa-plus-circle text-success addProcessRow" aria-hidden="true" style="font-size: x-large; cursor: pointer"></i></td>' +
                    '</tr>';

                $(control).parents("table.processTable>tbody").append(row);
            }
        });

        // Delete process row on delete button click
        $(document).on("keypress click", ".removeProcessRow", function (evt) {
            var control = $(this);
            $(control).parents("table.processTable>tbody>tr").remove();
        });

        //Button submit action - To save the child table records into the hidden string
        $(document).on("click", "#btnSubmit", function () {
            var processList = new Array();
            $("#divProcessTable table tbody tr").each(function (i) {
                var tds = $(this).find("td:visible");
                if ($(tds[2]).find(".drpTestcaseBuiild").val() != '' && $(tds[3]).find(".drpCommand").val() != '' && $(tds[4]).find("#ProcessStatus").val() != '') {
                    var process = { TestCaseBuildId: $(tds[2]).find(".drpTestcaseBuiild").val(), Command: $(tds[3]).find(".drpCommand").val(), ProcessStatus: $(tds[4]).find("#ProcessStatus").val() };
                    processList.push(process);
                }
            });
            $('#strProcessExecutionChildRefList').val(JSON.stringify(processList));

            if (processList.length == 0) {
                alert("Please select atleast one entry for process.");
                return false;
            }
        });

        $(document).on("keypress click", ".startBtn", function (e) { 
            var control = $(this);
            var testCaseId = $(control).parents("tr").find("#TestCaseBuildId").val();  
            if (testCaseId == "") {
                alert("Please select the testcase to start the process.");
                return false;
            }
            else {
                $(control).parents("tr").find("#ProcessStatus").val('Started');
                $.ajax({
                    type: 'post',
                    url: "../ProcessExecution/RunTestCaseBuilder",
                    data: {
                        testCaseBuilderId: testCaseId, 
                    },
                    async: false,
                    success: function (data) {
                       // alert(data);
                        $(control).parents("tr").find("#ProcessStatus").val('Completed - ' + data);
                    },
                    cache: false,
                    error: function (e) {
                        if (e.status == 401) {
                            window.location.href = "../Login/UserLogin";
                        } else {
                            alert(e.responseText);
                        }
                    }
                });
            } 
        });

    });

</script>
