﻿@using NetRachisCore.Helpers
@model List<NetRachisCore.Models.BusinessObjects.TestCaseResult>

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    <title>@ViewBag.Title</title>
}
<div class="data-table-area pd-tb-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>Testcase Result List</h1> 
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <select class="form-control">
                                    <option value="">Export Basic</option>
                                    <option value="all">Export All</option>
                                    <option value="selected">Export Selected</option>
                                </select>
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                   data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="false" data-toolbar="#toolbar" class="dataTable">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th> 
                                        <th data-field="id">Id</th>
                                        <th data-field="match">Match Condition</th> 
                                        <th data-field="source">Source Value</th>
                                        <th data-field="target">Target Value</th>
                                        <th data-field="result">Result</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td></td> 
                                                <td>@item.TestCaseResultId</td>
                                                <td>@item.MatchCondition</td> 
                                                <td>@item.SourceValue</td> 
                                                <td>@item.TargetValue</td> 
                                                <td>@item.MatchResult</td>  
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
<script src="~/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".menuitem li a.active").removeClass("active"); 
        $("#testexecution-menu a").attr("aria-expanded", "true");
        $("#testexecution-menu ul").addClass('in');
        $(".menuitem a#aServiceControl").addClass('active'); 
    });
</script>  
