﻿@using NetRachisCore.Helpers
@model NetRachisCore.Models.BusinessObjects.TestCaseBuild
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    <title>@ViewBag.Title</title>
}

<div class="single-product-tab-area pd-tb-15">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            @if (Model.TestCaseBuildId > 0)
                            {
                                <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> TestCaseBuilder Name Edit</a></li>
                            }
                            else
                            {
                                <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> TestCaseBuilder Name Create</a></li>
                            }
                        </ul>
                        @using (Html.BeginForm(Actions.AddEdit, Controllers.TestCaseBuild, FormMethod.Post, new { id = "frmTestCaseBuild" }))
                        {
                            @Html.HiddenFor(m => m.TestCaseBuildId)

                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-level-down" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.ProjectId, Model.ProjectList, "Select Project", new { @tabindex = 1, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-level-down" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.ModuleId, Model.ModuleList, "Select Module", new { @tabindex = 2, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-edit" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.TestCaseBuildName, new { @tabindex = 3, @class = "form-control", @placeholder = "TestCaseBuilder Name", @title = "TestCaseBuild Name", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.Description, new { @tabindex = 4, @class = "form-control", @placeholder = "Description", @title = "Description" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10" tabindex="5">
                                                    Save
                                                </button>
                                                <a href="/TestCaseBuild/Index" class="btn btn-warning waves-effect waves-light" tabindex="6"> Discard </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".menuitem li a.active").removeClass("active");
        $("#static-menu a").attr("aria-expanded", "true");
        $("#static-menu ul").addClass('in');
        $(".menuitem a#aTestCaseBuild").addClass('active');

        //To bind the module dropdown based on the project selection
        $(document).on("change", "#ProjectId", function () {
            var control = $(this);
            if ($(control).val() > 0) {
                $.ajax({
                    type: 'post',
                    url: "../TestCaseBuild/GetModulesByProjectId",
                    data: {
                        projectId: $(control).val()
                    },
                    async: false,
                    success: function (data, item) {
                        $("#ModuleId").empty();
                        $("#ModuleId").append('<option value="">Select Module</option>');
                        $("#select2-ModuleId-container").text("Select Module");
                        $.each(data.data, function (key, value) {
                            $("#ModuleId").append('<option value="' + key + '">' + value + '</option>');
                        });
                    },
                    cache: false,
                    error: function (e) {
                        if (e.status == 401) {
                            window.location.href = "../Login/UserLogin";
                        } else {
                            alert(e.responseText);
                        }
                    }
                });
            }
            else {
                $("#ModuleId").empty();
                $("#ModuleId").append('<option value="">Select Module</option>');
                $("#select2-ModuleId-container").text("Select Module");
            }
        });
    });
</script>

