﻿@using NetRachisCore.Helpers
@model NetRachisCore.Models.BusinessObjects.XmlComparison
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="initial-scale=1,user-scalable=no">
<meta name="language" content="en">
<meta name="description" content="XML comparison tool allows to compare two XML documents, and find the differences between the nodes.">
<script src="~/Content/XmlScripts/codemirror.js"></script>
<script src="~/Content/XmlScripts/main.js"></script>
<link href="~/Content/XmlScripts/styleAll.css" rel="stylesheet" />
<link rel="icon" type="image/png" href="favicon.png">
<style>
        .adslot_top {
            display: block
        }

        @*@media (max-width:800px) {
            .adslot_top {
                display: none
            }
        }*@

        .header-title-tool {
            color: #4daf52;
            display: inline-block;
            font-size: 2.7em;
            font-weight: 900
        }

        .header-h1 h1 {
            display: inline-block
        }

    .diffbtn {
        /*width: 47%;*/
        float: none;
        margin-right:0px;
    }

</style>

<script>
    function addEvent(obj, event, fct) {
        if (obj.attachEvent) //Est-ce IE ?
            obj.attachEvent("on" + event, fct); //Ne pas oublier le "on"
        else
            obj.addEventListener(event, fct, true);
    }</script>

<div style="height: auto !important;margin-top:10px;">
    <style>
        .CodeMirror-scroll {
            min-height: 300px;
            max-height: 300px
        }

        .xml_diff_color_1 {
            background-color: #ff6
        }

        .xml_diff_color_2 {
            background-color: #ffd11a
        }

        .xml_diff_color_3 {
            background-color: #ff8080
        }

        .editor-title {
            font-size: 1em;
            background-color: #006f9c;
            color: white;
        }

        .text-compare-select-top {
            border-left: 2px solid gray;
            border-right: 2px solid gray;
            border-top: 2px solid gray
        }

        .text-compare-select-bottom {
            border-left: 2px solid gray;
            border-right: 2px solid gray;
            border-bottom: 2px solid gray
        }

        .text-compare-select-middle {
            border-left: 2px solid gray;
            border-right: 2px solid gray
        }

        .action-button-editor-compare {
            float: none;
            background-color: #006f9c;
            padding: 12px 15px;
            font-size: 2em;
            color: #fff
        }

        .xml-diff-adsleft {
            max-height: 200px
        }
    </style>

    <div class="flex-container" style="height: auto !important;">
        <div class="body" style="width:100% !important;text-align:center">
            <div><input type="file" id="file-input-text" class="hidden"> <input type="file" id="file-input-text-2" class="hidden"></div>
            <div id="dropZone" class="column-double span">
                <div class="container-center"><span class="editor-title">Source Trade XML</span></div>
                <br>
                <input type="button" class="action-button-editor right span" value="Browse XML file" onclick="document.getElementById('file-input-text').click();">
                <br><br>
                <div class="row-container editor-container" style="clear:both">
                    <textarea id="editor-container-text" class="editor" style="display: none;"></textarea>
                </div>
                <div id="editor-error1" style="display:none" class="editor-error"></div><div id="editor-valid1" style="display:none" class="editor-valid"></div>
            </div>
            <div id="dropZone2" class="column-double span">
                <div class="container-center"><span class="editor-title">Trade XML to Compare</span></div><br>
                <input type="button" class="action-button-editor right span" value="Browse XML file" onclick="document.getElementById('file-input-text-2').click();">
                <br><br>
                <div class="row-container editor-container" style="clear:both">
                    <textarea id="editor-container-text-2" class="editor" style="display: none;"></textarea>
                </div>
                <div id="editor-error2" style="display:none" class="editor-error"></div><div id="editor-valid2" style="display:none" class="editor-valid"></div>
            </div><br><br><div class="container-center"><input type="button" class="action-button-editor action-button-editor-compare" value="Compare" onclick="xmlDiff();"></div>
        </div>
    </div>
    <div class="row-white" style="height: auto !important;text-align:center">
        <div class="row-container-medium" style="height: auto !important; display: none" id="resultContainer">
            <div id="result">
                <h2>XML comparison</h2>
                <div id="nb-diff" class="editor-valid">0 difference(s) between the two XML documents</div>
                <div class="column-triple">
                    <div class="container-center"><span class="editor-title">Source Trade XML</span></div>
                </div> 
                <div class="column-triple">
                    <div class="container-center"><span class="editor-title">Compared Trade XML</span></div>
                </div>
                <div style="margin-left:3%;margin-right:3%">
                    <div class="column-double" style="text-align:left">
                        <input type="button" class="action-button-editor diffbtn" value="Previous diff" onclick="previous();">
                        <input type="button" class="action-button-editor diffbtn" value="Next diff" onclick="next();">
                    </div>
                    <div class="column-double" style="text-align:right">
                        <input type="button" id="btndiffonly" class="action-button-editor diffbtn" value="Only diff" onclick="diffonly();">
                        <input type="button" class="action-button-editor diffbtn" value="Show All" onclick="showall();">
                        <input type="button" class="action-button-editor diffbtn" value="Export Diff" onclick="exportdiffonly();">
                    </div>
                </div>
                <div class="column-double span" style="text-align:left"> 
                    <div class="row-container editor-container">
                        <textarea id="editor-container-result1" class="editor" style="display: none;"></textarea>
                    </div>
                </div>
                <div class="column-double span" style="text-align:left"> 
                    <div class="row-container editor-container">
                        <textarea id="editor-container-result2" class="editor" style="display: none;"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script async="">
        // saveAndShare = null;
        myCodeMirrorText1 = null;
        myCodeMirrorText2 = null;
        myCodeMirrorResult1 = null;
        myCodeMirrorResult2 = null;
        nbDiff = 0;
        sourcefilename = "";
        destfilename = "";

        function onChangeText() {
            services.billboard.emptyAndHide(['editor-error1', 'editor-valid1']);
            services.billboard.emptyAndHide(['editor-error2', 'editor-valid2']);
            document.getElementById('result').style.display = 'none';
            var obj1, obj2;
            if (myCodeMirrorText1.getValue("\n") !== '') {
                try {
                    obj1 = services.converter.xml2dom(myCodeMirrorText1.getValue("\n"));
                } catch (e) {
                    services.billboard.setAndDisplay('editor-error1', 'Invalid XML');
                }
            }
            if (myCodeMirrorText2.getValue("\n") !== '') {
                try {
                    obj2 = services.converter.xml2dom(myCodeMirrorText2.getValue("\n"));
                } catch (e) {
                    services.billboard.setAndDisplay('editor-error2', 'Invalid XML');
                }
            }
        }
        function xmlDiff() {

            services.billboard.emptyAndHide(['editor-error1', 'editor-valid1']);
            services.billboard.emptyAndHide(['editor-error2', 'editor-valid2']);
            document.getElementById('resultContainer').style.display = '';
            document.getElementById('result').style.display = '';
            var obj1, obj2;
            if (myCodeMirrorText1.getValue("\n") !== '') {
                try {
                    obj1 = services.converter.xml2dom(myCodeMirrorText1.getValue("\n"));
                } catch (e) {
                    services.billboard.setAndDisplay('editor-error1', 'Invalid XML');
                }
            }
            if (myCodeMirrorText2.getValue("\n") !== '') {
                try {
                    obj2 = services.converter.xml2dom(myCodeMirrorText2.getValue("\n"));
                } catch (e) {
                    services.billboard.setAndDisplay('editor-error2', 'Invalid XML');
                }
            }
            if (obj1 && obj2) { 
                nbDiff = 0;
                currentDiff = null;
                resultToDraw = { xml1: '', xml2: '', colorLine: [], stepDiff: [], currentLine: 0, tab: '' };
                compareXML(obj1, obj2, resultToDraw);
                displayXMLDiff(resultToDraw);


                jumpto('result');
            }
        }

        function jumpto(anchor) {
            window.location.href = "#" + anchor;
        }

        function onScroll(editor) {
            setTimeout(function () {
                var info = editor.getScrollInfo();
                if (info) {
                    if (myCodeMirrorResult1 == editor) {
                        myCodeMirrorResult2.scrollTo(info.left, info.top);
                    } else {
                        myCodeMirrorResult1.scrollTo(info.left, info.top);
                    }
                }
            }, 10);
        }

        document.getElementById('file-input-text').addEventListener('change', function (e) {
            sourcefilename = e.target.files[0].name;
            services.file.readSingleFile(e, ReadModeEnum.TEXT, function (data) {
                myCodeMirrorText1.setValue(data);
            });
        }, false);

        document.getElementById('file-input-text-2').addEventListener('change', function (e) {
            destfilename = e.target.files[0].name;
            services.file.readSingleFile(e, ReadModeEnum.TEXT, function (data) {
                myCodeMirrorText2.setValue(data);
            });
        }, false);

        var dropZone = document.getElementById('dropZone');
        var dropZone2 = document.getElementById('dropZone2');
        var DiffStatus = {
            SAME: 0,
            ONLY1: 1,
            ONLY2: 2,
            DIFFERENT: 3
        };

        currentEditor = null;
        //dialogLoadFromURL = null;

        //function displayLoadURLDialog(editor) {
        //    currentEditor = editor;
        //    dialogLoadFromURL.show();
        //    document.getElementById("url").focus();
        //}

        //function loadFromURL(callback) {
        //    var editor = currentEditor;
        //    var url = document.getElementById('url').value;
        //    services.http.get(url,
        //        function (data) {
        //            if (editor && data) {
        //                editor.setValue(data);
        //            }
        //            dialogLoadFromURL.hide();
        //            if (callback) callback();
        //        }, function () {
        //            // error, make server call
        //            services.http.post('./get-url-data-txt',
        //                url,
        //                function (data) {
        //                    if (editor && data) {
        //                        var result = JSON.parse(data);
        //                        if (result.content) {
        //                            editor.setValue(result.content);
        //                        }
        //                    }
        //                    dialogLoadFromURL.hide();
        //                    if (callback) callback();
        //                }
        //                , function (errorTxt) {
        //                    services.billboard.setAndDisplay('editor-error', 'An error has occured: '.errorTxt);
        //                    if (callback) callback();
        //                }
        //            );
        //        }
        //    );
        //}
        function compareXML(obj1, obj2, resultToDraw, options) {
            var result = {};
            if (typeof obj1 == 'undefined') {
                var result = displayElement(obj2, resultToDraw, { array: options && options.array, coma: options && options.coma2 });
                nbDiff += 1;
                resultToDraw.xml2 += result.xml;
                resultToDraw.xml1 += "\n".repeat(result.nbLine);
                for (var i = 1; i <= result.nbLine; i++) {
                    resultToDraw.colorLine.push({ line: resultToDraw.currentLine, color: DiffStatus.ONLY2 });
                    resultToDraw.currentLine++;
                }
            } else if (typeof obj2 == 'undefined') {
                var result = displayElement(obj1, resultToDraw, { array: options && options.array, coma: options && options.coma1 });
                nbDiff += 1;
                resultToDraw.xml1 += result.xml;
                resultToDraw.xml2 += "\n".repeat(result.nbLine);
                for (var i = 1; i <= result.nbLine; i++) {
                    resultToDraw.colorLine.push({ line: resultToDraw.currentLine, color: DiffStatus.ONLY1 });
                    resultToDraw.currentLine++;
                }
            } else if (obj1 == null && obj2 == null) {
                /*resultToDraw.xml1 += "\n";
                resultToDraw.xml2 += (options && options.array ? resultToDraw.tab : '') + "" + "\n";
                resultToDraw.currentLine++;*/
            } else if (obj1 == null) {
                var result = displayElement(obj2, resultToDraw, { array: options && options.array, coma: options && options.coma2 });
                nbDiff += 1;
                resultToDraw.xml2 += result.xml;
                resultToDraw.xml1 += "" + "\n".repeat(result.nbLine);
                for (var i = 1; i <= result.nbLine; i++) {
                    resultToDraw.colorLine.push({ line: resultToDraw.currentLine, color: DiffStatus.DIFFERENT });
                    resultToDraw.currentLine++;
                }
            } else if (obj2 == null) {
                var result = displayElement(obj1, resultToDraw, { array: options && options.array, coma: options && options.coma1 });
                nbDiff += 1;
                resultToDraw.xml1 += result.xml;
                resultToDraw.xml2 += "" + "\n".repeat(result.nbLine);
                for (var i = 1; i <= result.nbLine; i++) {
                    resultToDraw.colorLine.push({ line: resultToDraw.currentLine, color: DiffStatus.DIFFERENT });
                    resultToDraw.currentLine++;
                }
            } else if (obj1.nodeName != obj2.nodeName) { 
                nbDiff += 1;
                var result1 = displayElement(obj1, resultToDraw, { array: options && options.array, coma: options && options.coma1 });
                resultToDraw.xml1 += result1.xml;
                var result2 = displayElement(obj2, resultToDraw, { array: options && options.array, coma: options && options.coma2 });
                resultToDraw.xml2 += result2.xml;
                for (var i = 1; i <= Math.max(result1.nbLine, result2.nbLine); i++) {
                    resultToDraw.colorLine.push({ line: resultToDraw.currentLine, color: DiffStatus.DIFFERENT });
                    resultToDraw.currentLine++;
                }
                if (result1.nbLine >= result2.nbLine) {
                    resultToDraw.xml2 += "\n".repeat(result1.nbLine - result2.nbLine);
                } else {
                    resultToDraw.xml1 += "\n".repeat(result2.nbLine - result1.nbLine);
                }
            } else if (obj1.nodeName == "#text") {
                if (obj1.textContent != obj2.textContent) {
                    nbDiff += 1;
                    resultToDraw.xml1 += obj1.textContent + (obj2.textContent.split("\n").length > obj1.textContent.split("\n").length ? "\n".repeat(obj2.textContent.split("\n").length - obj1.textContent.split("\n").length) : '');
                    resultToDraw.xml2 += obj2.textContent + (obj1.textContent.split("\n").length > obj2.textContent.split("\n").length ? "\n".repeat(obj1.textContent.split("\n").length - obj2.textContent.split("\n").length) : '');
                    for (var i = 1; i <= Math.max(obj1.textContent.split("\n").length, obj2.textContent.split("\n").length); i++) {
                        resultToDraw.colorLine.push({ line: resultToDraw.currentLine, color: DiffStatus.DIFFERENT });
                        if (i != Math.max(obj1.textContent.split("\n").length, obj2.textContent.split("\n").length)) {
                            resultToDraw.currentLine++;
                        }
                    }
                } else {
                    resultToDraw.xml1 += obj1.textContent;
                    resultToDraw.xml2 += obj2.textContent;
                    resultToDraw.currentLine += obj1.textContent.split("\n").length - 1;
                }
            } else { 
                resultToDraw.xml1 += resultToDraw.tab + "<" + obj1.nodeName;
                resultToDraw.xml2 += resultToDraw.tab + "<" + obj2.nodeName;
                 
                //check attributes
                obj1.getAttributeNames().forEach(function (attr) {
                    if (obj2.hasAttribute(attr)) {
                        resultToDraw.xml1 += "\n" + resultToDraw.tab + "	" + attr + "=\"" + obj1.getAttribute(attr) + "\"";
                        resultToDraw.xml2 += "\n" + resultToDraw.tab + "	" + attr + "=\"" + obj2.getAttribute(attr) + "\"";
                        resultToDraw.currentLine++;
                        if (obj1.getAttribute(attr) != obj2.getAttribute(attr)) {
                            nbDiff += 1;
                            resultToDraw.colorLine.push({ line: resultToDraw.currentLine, color: DiffStatus.DIFFERENT });
                        }
                    } else {
                        nbDiff += 1;
                        resultToDraw.xml1 += "\n" + resultToDraw.tab + "	" + attr + "=\"" + obj1.getAttribute(attr) + "\"";
                        resultToDraw.xml2 += "\n".repeat(obj1.getAttribute(attr).split("\n").length);
                        resultToDraw.currentLine++;
                        resultToDraw.colorLine.push({ line: resultToDraw.currentLine, color: DiffStatus.ONLY1 });
                    }
                });
                obj2.getAttributeNames().forEach(function (attr) {
                    if (!obj1.hasAttribute(attr)) {
                        nbDiff += 1;
                        resultToDraw.xml1 += "\n".repeat(obj2.getAttribute(attr).split("\n").length);
                        resultToDraw.xml2 += "\n" + resultToDraw.tab + "	" + attr + "=\"" + obj2.getAttribute(attr) + "\"";
                        resultToDraw.colorLine.push({ line: resultToDraw.currentLine + 1, color: DiffStatus.ONLY2 });
                        resultToDraw.currentLine++;
                    }
                });

                //checks children
                var names = [];
                var nodes1 = [];
                var nodes2 = [];
                obj1.childNodes.forEach(function (node) {
                    if (node.nodeName == "#text") {
                        if (node.textContent.replace(/[\n\r\s\t\f\v\0]/g, '') == '') {
                            return;
                        }
                    }
                    if (names.indexOf(node.nodeName) === -1) {
                        names.push(node.nodeName);
                    }
                    nodes1.push(node);
                });
                var pos2 = 0;
                obj2.childNodes.forEach(function (node) {
                    if (node.nodeName == "#text") {
                        if (node.textContent.replace(/[\n\r\s\t\f\v\0]/g, '') == '') {
                            return;
                        }
                    }
                    pos2++;
                    if (names.indexOf(node.nodeName) === -1) {
                        names.splice(pos2, 0, node.nodeName);
                    } else {
                        pos2 = names.indexOf(node.nodeName);
                    }
                    nodes2.push(node);
                });
                var hasText = ((nodes1.length > 0 && nodes1[0].nodeName == "#text") || (nodes2.length > 0 && nodes2[0].nodeName == "#text"));
                if (hasText) {
                    resultToDraw.xml1 += ">";
                    resultToDraw.xml2 += ">";
                } else {
                    resultToDraw.xml1 += ">\n";
                    resultToDraw.xml2 += ">\n";
                    resultToDraw.currentLine++;
                }
                if (names.indexOf("#text") != -1) {
                    // check child by order
                    nodes1.forEach(function (node1, index) {
                        if (index < nodes2.length) {
                            var node2 = nodes2[index];
                            var subresult = { xml1: "", xml2: "", colorLine: resultToDraw.colorLine, stepDiff: resultToDraw.stepDiff, currentLine: resultToDraw.currentLine, tab: resultToDraw.tab + '	' };
                            compareXML(node1, node2, subresult, {});
                            resultToDraw.xml1 += subresult.xml1;
                            resultToDraw.xml2 += subresult.xml2;
                            resultToDraw.currentLine = subresult.currentLine;
                        } else {
                            nbDiff += 1;
                            var result = displayElement(node1, resultToDraw, {});
                            resultToDraw.xml1 += result.xml;
                            resultToDraw.xml2 += "" + "\n".repeat(result.nbLine);
                            for (var i = 0; i <= result.nbLine; i++) {
                                resultToDraw.colorLine.push({ line: resultToDraw.currentLine, color: DiffStatus.ONLY1 });
                                resultToDraw.currentLine++;
                            }
                        }
                    });
                    nodes2.forEach(function (node2, index) {
                        if (index >= nodes1.length) {
                            nbDiff += 1;
                            var result = displayElement(node2, resultToDraw, {});
                            resultToDraw.xml1 += "" + "\n".repeat(result.nbLine);
                            resultToDraw.xml2 += result.xml;
                            for (var i = 0; i <= result.nbLine; i++) {
                                resultToDraw.colorLine.push({ line: resultToDraw.currentLine, color: DiffStatus.ONLY2 });
                                resultToDraw.currentLine++;
                            }
                        }
                    });
                } else {
                    // check child by name
                    names.forEach(function (nodeName) { 
                        var children1 = Array.from(obj1.getElementsByTagName(nodeName));
                        var children2 = Array.from(obj2.getElementsByTagName(nodeName));
                        //var children1 = Array.from(obj1.getElementsByTagName(nodeName)[0].childNodes);
                        //var children2 = Array.from(obj2.getElementsByTagName(nodeName)[0].childNodes);
                        if (children1.length == 0) {
                            children2.forEach(function (node) {
                                nbDiff += 1;
                                var result = displayElement(node, resultToDraw, {});
                                resultToDraw.xml2 += result.xml;
                                resultToDraw.xml1 += "" + "\n".repeat(result.nbLine);
                                for (var i = 1; i <= result.nbLine; i++) {
                                    resultToDraw.colorLine.push({ line: resultToDraw.currentLine, color: DiffStatus.ONLY2 });
                                    resultToDraw.currentLine++;
                                }
                            });
                        } else if (children2.length == 0) {
                            children1.forEach(function (node) {
                                nbDiff += 1;
                                var result = displayElement(node, resultToDraw, {});
                                resultToDraw.xml1 += result.xml;
                                resultToDraw.xml2 += "" + "\n".repeat(result.nbLine);
                                for (var i = 1; i <= result.nbLine; i++) {
                                    resultToDraw.colorLine.push({ line: resultToDraw.currentLine, color: DiffStatus.ONLY1 });
                                    resultToDraw.currentLine++;
                                }
                            });
                        } else {
                            children1.forEach(function (elt, index) {
                                if (index >= children2.length) {
                                    nbDiff += 1;
                                    var result = displayElement(elt, resultToDraw, {});
                                    resultToDraw.xml1 += result.xml;
                                    resultToDraw.xml2 += "" + "\n".repeat(result.nbLine);
                                    for (var i = 1; i <= result.nbLine; i++) {
                                        resultToDraw.colorLine.push({ line: resultToDraw.currentLine, color: DiffStatus.ONLY1 });
                                        resultToDraw.currentLine++;
                                    }
                                } else {
                                    var subresult = { xml1: "", xml2: "", colorLine: resultToDraw.colorLine, stepDiff: resultToDraw.stepDiff, currentLine: resultToDraw.currentLine, tab: resultToDraw.tab + '	' };
                                    compareXML(elt, children2[index], subresult, {} /*{array: true, coma1: (!(index == children1.length - 1)), coma2: index < children2.length - 1}*/);
                                    resultToDraw.xml1 += subresult.xml1;
                                    resultToDraw.xml2 += subresult.xml2;
                                    resultToDraw.currentLine = subresult.currentLine;
                                }
                            });
                            children2.forEach(function (elt, index) {
                                if (index >= children1.length) {
                                    nbDiff += 1;
                                    var result = displayElement(elt, resultToDraw, {});
                                    resultToDraw.xml1 += "" + "\n".repeat(result.nbLine);
                                    resultToDraw.xml2 += result.xml;
                                    for (var i = 1; i <= result.nbLine; i++) {
                                        resultToDraw.colorLine.push({ line: resultToDraw.currentLine, color: DiffStatus.ONLY2 });
                                        resultToDraw.currentLine++;
                                    }
                                } 
                            });
                        }
                    });
                }
                /*txt2 = text2.shift();
                while (txt2 != undefined) {
                    resultToDraw.xml2 += txt2.textContent;
                    resultToDraw.colorLine.push({line: resultToDraw.currentLine, color: DiffStatus.ONLY2});
                    resultToDraw.currentLine+= txt2.textContent.split("\n").length - 1;
                    txt2 = text2.shift();
                } */
                resultToDraw.xml1 += (!hasText ? resultToDraw.tab : '') + "</" + obj1.nodeName + ">\n";
                resultToDraw.xml2 += (!hasText ? resultToDraw.tab : '') + "</" + obj2.nodeName + ">\n";
                resultToDraw.currentLine++;
            }
        }
        /*
        <a b="1" c="2">
            <d>4</d>
        </a>

        */
        function displayElement(elt, resultToDraw, options) {
            var result = { nbLine: 0, xml: '' };
            if (elt == null) {
                result.xml = "" + "\n";
                result.nbLine++;
            } else if (elt.nodeName == "#text") {
                result.xml = elt.textContent;
                result.nbLine += elt.textContent.split("\n").length - 1;
            } else {
                result.xml = resultToDraw.tab + "<" + elt.nodeName;
                var attrs = elt.attributes;
                for (var i = attrs.length - 1; i >= 0; i--) {
                    result.xml += attrs[i].name + "=\"" + attrs[i].value + "\" ";
                }
                result.xml += ">";

                var hasText = false;
                for (var n = 0; n < elt.childNodes.length; n++) {
                    if (elt.childNodes[n].nodeName == "#text") {
                        if (elt.childNodes[n].textContent.replace(/[\n\r\s\t\f\v\0]/g, '') == '') {
                            continue;
                        }
                        hasText = true;
                        break;
                    }
                    hasText = false;
                }
                if (!hasText) {
                    result.xml += "\n";
                    result.nbLine++;
                }
                elt.childNodes.forEach(function (node) {
                    if (node.nodeName == "#text") {
                        if (node.textContent.replace(/[\n\r\s\t\f\v\0]/g, '') == '') {
                            return;
                        }
                    }
                    var subresultToDraw = { tab: resultToDraw.tab + "\t" };
                    var subresult = displayElement(node, subresultToDraw, options);
                    result.xml += subresult.xml;
                    result.nbLine += subresult.nbLine;
                });
                result.xml += "</" + elt.nodeName + ">\n";
                result.nbLine += 1;
            }
            return result;
        }
        function displayXMLDiff(resultToDraw) {
            myCodeMirrorResult1.setValue(resultToDraw.xml1);
            myCodeMirrorResult2.setValue(resultToDraw.xml2);
            resultToDraw.colorLine.sort(function (a, b) {
                return a.line - b.line;
            });
            var previous = null;
            resultToDraw.colorLine.forEach(function (c) {
                myCodeMirrorResult1.addLineClass(c.line, 'background', 'xml_diff_color_' + c.color);
                myCodeMirrorResult2.addLineClass(c.line, 'background', 'xml_diff_color_' + c.color);
                if (previous == null || c.line > previous + 1) {
                    resultToDraw.stepDiff.push(c);
                }
                previous = c.line;
            });

            document.getElementById('nb-diff').innerHTML = nbDiff + ' difference(s) between the two XML documents';

            document.getElementById('result').style.display = '';
        }

        currentDiff = null;
        function removeSelectionPrevious(editor, lineNumber) {
            if (lineNumber !== null) {
                editor.removeLineClass(lineNumber, 'background', 'text-compare-select-top');
                editor.removeLineClass(lineNumber, 'background', 'text-compare-select-bottom');
                editor.removeLineClass(lineNumber, 'background', 'text-compare-select-middle');
            }
        }
        function jumpToLine(editor, lineNumber) {
            var top = editor.charCoords({ line: lineNumber, ch: 0 }, "local").top;
            var quarterHeight = editor.getScrollerElement().offsetHeight / 4;
            editor.scrollTo(null, top - quarterHeight);
            editor.addLineClass(lineNumber, 'background', 'text-compare-select-top');
            editor.addLineClass(lineNumber, 'background', 'text-compare-select-bottom');
            editor.addLineClass(lineNumber, 'background', 'text-compare-select-middle');
        }
        function previous() {
            resultToDraw.stepDiff.sort(function (a, b) {
                return b.line - a.line;
            });
            resultToDraw.stepDiff.some(function (colorLine) {
                if (currentDiff == null || colorLine.line < currentDiff) {
                    removeSelectionPrevious(myCodeMirrorResult1, currentDiff);
                    removeSelectionPrevious(myCodeMirrorResult2, currentDiff);
                    currentDiff = colorLine.line;
                    jumpToLine(myCodeMirrorResult1, currentDiff);
                    jumpToLine(myCodeMirrorResult2, currentDiff);
                    return true;
                }
                return false;
            });
        }
        function next() {
            resultToDraw.stepDiff.sort(function (a, b) {
                return a.line - b.line;
            });
            resultToDraw.stepDiff.some(function (colorLine) {
                if (currentDiff == null || colorLine.line > currentDiff) {
                    removeSelectionPrevious(myCodeMirrorResult1, currentDiff);
                    removeSelectionPrevious(myCodeMirrorResult2, currentDiff);
                    currentDiff = colorLine.line;
                    jumpToLine(myCodeMirrorResult1, currentDiff);
                    jumpToLine(myCodeMirrorResult2, currentDiff);
                    return true;
                }
                return false;
            });
        }

        function diffonly() {
            myFullResult = { xml1: '', xml2: '', colorLine: [], stepDiff: [], currentLine: 0, tab: '' };
            var linenum = 0;
            resultToDraw.colorLine.forEach(function (c) { 
                myFullResult.xml1 += myCodeMirrorResult1.getLine(c.line) + "\n";
                myFullResult.xml2 += myCodeMirrorResult2.getLine(c.line) + "\n";
                myFullResult.colorLine.push({ line: linenum, color: c.color });
                linenum++;
            });
            myCodeMirrorResult1.setValue(myFullResult.xml1);
            myCodeMirrorResult2.setValue(myFullResult.xml2); 
            myFullResult.colorLine.forEach(function (c) {
                myCodeMirrorResult1.addLineClass(c.line, 'background', 'xml_diff_color_' + c.color);
                myCodeMirrorResult2.addLineClass(c.line, 'background', 'xml_diff_color_' + c.color); 
                resultToDraw.stepDiff.push(c); 
            });
            document.getElementById("btndiffonly").disabled = true; 
        }

        function showall() {
            displayXMLDiff(resultToDraw);
            document.getElementById("btndiffonly").disabled = false;
        }

        function exportdiffonly() {  
            var result = "Comparison Result between " + sourcefilename + " and " + destfilename+ ":" + "\n\n";
            resultToDraw.colorLine.forEach(function (c) { 
                var status = "";
                if (c.color == 3) {
                    status = "Changed - ";
                }
                else if (c.color == 1 || c.color == 2) {
                    status = "Added - ";
                } 
                result += status + "\t" + myCodeMirrorResult1.getLine(c.line).replace(/\s+/, "") + "\t" + myCodeMirrorResult2.getLine(c.line).replace(/\s+/, "") + "\n";
            });  
            download(result, 'ComparisonResult.txt', 'text/plain');
        }

        function download(strData, strFileName, strMimeType) {
            var D = document,
                A = arguments,
                a = D.createElement("a"),
                d = A[0],
                n = A[1],
                t = A[2] || "text/plain";

            //build download link:
            a.href = "data:" + strMimeType + "charset=utf-8," + escape(strData);


            if (window.MSBlobBuilder) { // IE10
                var bb = new MSBlobBuilder();
                bb.append(strData);
                return navigator.msSaveBlob(bb, strFileName);
            } /* end if(window.MSBlobBuilder) */



            if ('download' in a) { //FF20, CH19
                a.setAttribute("download", n);
                a.innerHTML = "downloading...";
                D.body.appendChild(a);
                setTimeout(function () {
                    var e = D.createEvent("MouseEvents");
                    e.initMouseEvent("click", true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
                    a.dispatchEvent(e);
                    D.body.removeChild(a);
                }, 66);
                return true;
            }; /* end if('download' in a) */



            //do iframe dataURL download: (older W3)
            var f = D.createElement("iframe");
            D.body.appendChild(f);
            f.src = "data:" + (A[2] ? A[2] : "application/octet-stream") + (window.btoa ? ";base64" : "") + "," + (window.btoa ? window.btoa : escape)(strData);
            setTimeout(function () {
                D.body.removeChild(f);
            }, 333);
            return true;
        } 

        function loadURL(callback) {
            var url = new URL(window.location.href);
            var url1 = url.searchParams.get("url1");
            var url2 = url.searchParams.get("url2");
            var nbUrlToLoad = 0;
            if (url1 && url1.length) nbUrlToLoad++;
            if (url2 && url2.length) nbUrlToLoad++;
            if (nbUrlToLoad == 0) {
                return callback();
            }
            if (url1 && url1.length) {
                currentEditor = myCodeMirrorText1;
                document.getElementById('url').value = url1;
                loadFromURL(function () {
                    nbUrlToLoad--;
                    if (nbUrlToLoad == 0) {
                        callback();
                        xmlDiff();
                    }
                });
            }
            if (url2 && url2.length) {
                currentEditor = myCodeMirrorText2;
                document.getElementById('url').value = url2;
                loadFromURL(function () {
                    nbUrlToLoad--;
                    if (nbUrlToLoad == 0) {
                        callback();
                        xmlDiff();
                    }
                });
            }
        }

        addEvent(window, 'load', function () {
            myCodeMirrorText1 = services.codeMirror.create('editor-container-text', { mode: 'text/xml', lineNumbers: true, viewportMargin: Infinity });
            myCodeMirrorText2 = services.codeMirror.create('editor-container-text-2', { mode: 'text/xml', lineNumbers: true, viewportMargin: Infinity });
            myCodeMirrorResult1 = services.codeMirror.create('editor-container-result1', { mode: 'text/xml', readOnly: true, lineNumbers: false, viewportMargin: Infinity });
            myCodeMirrorResult2 = services.codeMirror.create('editor-container-result2', { mode: 'text/xml', readOnly: true, lineNumbers: false, viewportMargin: Infinity });
            services.file.dragAndDrop(dropZone, ReadModeEnum.TEXT, function (data) {
                if (data) myCodeMirrorText1.setValue(data);
            });
            services.file.dragAndDrop(dropZone2, ReadModeEnum.TEXT, function (data) {
                if (data) myCodeMirrorText2.setValue(data);
            });
            //dialogLoadFromURL = new A11yDialog(document.getElementById('dialog-load-from-url'));

            loadURL(function () {
                myCodeMirrorText1.on("change", onChangeText);
                myCodeMirrorText2.on("change", onChangeText);
                myCodeMirrorResult1.on("scroll", function () { onScroll(myCodeMirrorResult1); });
                myCodeMirrorResult2.on("scroll", function () { onScroll(myCodeMirrorResult2); });
                setTimeout(function () {
                    onChangeText();
                }, 10);
            });
            //saveAndShare = new SaveAndShare();
            //saveAndShare.setURL('xml-diff.html');
            //saveAndShare.setDataFct(function () {
            //    const data = {};
            //    data.first = myCodeMirrorText1.getValue("\n");
            //    data.second = myCodeMirrorText2.getValue("\n");
            //    return data;
            //});
            //saveAndShare.setDataType('xmldiff');
            //saveAndShare.setInitFct(function (data) {
            //    if (data && data.first) {
            //        myCodeMirrorText1.setValue(data.first);
            //    }
            //    if (data && data.second) {
            //        myCodeMirrorText2.setValue(data.second);
            //    }
            //});
            //saveAndShare.init();
        });
    </script>
</div>

<script src="~/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".menuitem li a.active").removeClass("active");
        $("#xmlcompare-menu a").attr("aria-expanded", "true");
        $("#xmlcompare-menu ul").addClass('in');
        $(".menuitem a#aXmlCompare").addClass('active');

        //$.ajax({
        //    type: "POST",
        //    url: "../XmlComparison/CompareXmlTest",
        //    data: "{}",
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    success: console.log("Success"),
        //    error: console.log("Error")
        //});
    });
</script>
