﻿@using NetRachisCore.Helpers
@model List<NetRachisCore.Models.BusinessObjects.TestCaseResult>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@*<div class="text-center dashboard " style="opacity:99%">
        <h2 class="dashboard_h2" style=" font-family: open sans-serif; padding-top:5%">
            <span style=" font-family: open sans-serif; color: #985221"> Net Rachis </span>
        </h2>
        <h5 class="tag_style">Automated QA System</h5>
        <div class="text-center p-3">
            <img src="~/Content/LoginTemplate/images/loginlogo.png">
        </div>
        <i>"Automate your testing along with us!!"</i>
        <div class="">
            <span style=" font-family: open sans-serif; color: #E71D25; font-size: 22px;"> Powered by</span><span style="font-size: 30px; font-family: AvantGarde Bk BT; color: #20B038; ">GreenPoint Global</span>
            <div style=" font-family: open sans-serif; color: #000; font-size: 20px;">For Support: <span style=" font-family: open sans-serif; color: #000; font-size: 20px;">+91 413-2972414</span></div>
        </div>
    </div>*@
<div class="dashboard" style="opacity: 99%">
    <h2 class="dashboard_h2" style=" font-family: open sans-serif; padding-top: 2%; padding-left: 2%">
        <span style=" font-family: open sans-serif; color: #985221"> Data Comparison Results </span>
    </h2>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @*<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">*@
        @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>TestCase Build</th>
                            <th>TestResult No</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count > 0)
                        {
                            var groups = Model.GroupBy(x => x.TestCaseResultNo);
                            foreach (var rec in groups)
                            {
                                <tr data-toggle="collapse" data-target="#@rec.Key" class="clickable">
                                    <td></td>
                                    <td>@rec.FirstOrDefault().TestCaseBuildName</td>
                                    <td>@rec.Key</td>
                                    @if (@rec.Any(x => x.MatchResult == "Failed"))
                                    {
                                        <td>Failed</td>
                                    }
                                    else
                                    {
                                        <td>Success</td>
                                    }

                                </tr>
                                <tr>
                                    <td colspan="4" style="padding:0">
                                        <div id="@rec.Key" class="collapse" style="margin-top:10px;">
                                            <h5>Result Details</h5>
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Type</th>
                                                        <th>Condition</th>
                                                        <th>Source</th>
                                                        <th>Target</th>
                                                        <th>Result</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in rec)
                                                    {
                                                        <tr>
                                                            <td></td>
                                                            <td>@item.TestCaseType</td>
                                                            <td>@item.MatchCondition</td>
                                                            <td>@item.SourceValue</td>
                                                            <td>@item.TargetValue</td>
                                                            <td>@item.MatchResult</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>*@
        @*<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            </div>*@
    </div>
</div>

<script src="~/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".menuitem li a.active").removeClass("active");
        $(".menuitem a#aDashBoard").addClass('active');

        $(".fold-table tr.view").on("click", function () {
            $(this).toggleClass("open").next(".fold").toggleClass("open");
        });
    });
</script>
