﻿@using NetRachisCore.Helpers
@model NetRachisCore.Models.BusinessObjects.ChangePasswordModel
@{
    Layout = null;
    ViewBag.Title = "Change Password";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Password | Rachis</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link href="~/Content/LoginTemplate/login_main.css" rel="stylesheet" type="text/css" />
    <!--===============================================================================================-->
    <link href="~/Content/Theme/css/googlefonts.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/fonts/iconic/css/material-design-iconic-font.min.css">
    <style>
        .validate-input {
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-forgot_pswd">
                @using (Html.BeginForm(Actions.ChangePassword, Controllers.Login, FormMethod.Post, new { role = "form", @id = "frmChangePassword", @class = "forgot-form validate-form" }))
                {
                    <h4 class="forgotheading">RESET PASSWORD</h4>
                    <span class="login100-form-title">
                        <img src="~/Content/LoginTemplate/images/loginlogo.png" alt="" style="width:32%;" />
                    </span>
                    <div class="validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input type="email" placeholder="example@gmail.com" title="Please enter you email adress" required value="" name="EmailId" id="EmailId" class="input100" tabindex="1">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope fa-class" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="validate-input" data-validate="Password is required">
                        @Html.PasswordFor(m => m.OldPassword, new { @tabindex = 2, @class = "input100", @placeholder = "Old Password", @required = true })
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-unlock fa-class" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="validate-input" data-validate="Password is required">
                        @Html.PasswordFor(m => m.NewPassword, new { @tabindex = 3, @class = "input100", @placeholder = "New Password", @required = true })
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-unlock-alt fa-class" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="validate-input" data-validate="Password is required">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @tabindex = 2, @class = "input100", @placeholder = "Confirm Password", @required = true })
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-check-square fa-class" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn" style="font-size:11px">
                            Update Password
                        </button>
                    </div>
                    <div class="text-center p-t-12">
                        <a class="txt2" href="../Login/UserLogin">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Back to Login
                        </a>
                    </div>
                }
            <div id="message" style="padding:10px;width:100%">
                @*@Html.Partial("_Message")*@
                <partial name="_Message" />
            </div>
            </div>
        </div>
    </div>
    <!-- jquery
       ============================================ -->
    <script src="~/Content/Theme/js/vendor/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
       ============================================ -->
    <script src="~/Content/Theme/js/bootstrap.min.js"></script>
</body>
</html>