﻿@model NetRachisCore.Models.BusinessObjects.User
@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login - Rachis</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
       ============================================ -->
    <link rel="shortcut icon" type="~/Content/Theme/image/x-icon" href="~/Content/Theme/img/loginlogo.ico">
    <!--===============================================================================================-->
    <link href="~/Content/LoginTemplate/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link href="~/Content/LoginTemplate/login_main.css" rel="stylesheet" type="text/css" />
    <!--===============================================================================================-->
    <link href="~/Content/Theme/css/googlefonts.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/fonts/iconic/css/material-design-iconic-font.min.css">
    <style>
        .validate-input {
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic">
                    <h3 class="company_name">Rachis</h3>
                    <h5 class="tag_style">Automated QA System</h5>
                    <div class="text-center bg_small" style="padding:5%">
                        <img src="~/Content/LoginTemplate/images/login_bg.png" alt="" style="width:75%;" />
                    </div>
                    <p>Automate your testing along with us!</p>
                </div>
                @using (Html.BeginForm("UserLogin", "Login" , FormMethod.Post, new { role = "form", @id = "loginForm", @class = "login100-form validate-form" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

                    <span class="login100-form-title">
                        <img src="~/Content/LoginTemplate/images/loginlogo.png" alt="" style="width:35%;" />
                    </span>
                    <div class="validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        @Html.TextBoxFor(m => m.EmailId, new { @class = "input100", @placeholder = "Email Id", @title = "Please enter you EmailId", @required = true, @type = "email" })
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user fa-class" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class=" validate-input" data-validate="Password is required">
                        @Html.PasswordFor(m => m.Password, new { @class = "input100", @title = "Please enter your password", @placeholder = "******", @required = true })
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock fa-class" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div>
                        <label class="label-checkbox100" for="RememberMe">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "input-checkbox100", @name = "RememberMe", @style = "vertical-align: middle;" })
                            Remember me
                        </label>
                    </div>
                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">Login</button>
                    </div>
                    <div class="text-center p-t-12">
                        <a href="../Login/ForgotPassword" class="txt2" data-toggle="tooltip" title="Click to recover the password">Forgot Password?</a>
                        <span style="color:#fff">/</span>
                        <a href="../Login/ChangePassword" class="txt2" data-toggle="tooltip" title="Click to reset the password">Reset Password?</a>
                    </div>
                }
            <div id="message" style="padding:10px;width:100%">
                @*@Html.Partial("_Message")*@
                <partial name="_Message" />
            </div>
            </div>
        </div>
    </div>
    <!-- jquery
        ============================================ -->
    <script src="~/Content/Theme/js/vendor/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
       ============================================ -->
    <script src="~/Content/Theme/js/bootstrap.min.js"></script>
</body>
</html>