﻿@using NetRachisCore.Helpers
@model NetRachisCore.Models.BusinessObjects.RoleFormAccess
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    <title>@ViewBag.Title</title>
}
<div class="single-product-tab-area pd-tb-15">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            @if (Model.RoleFormAccessId > 0)
                            {
                                <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Access Edit</a></li>
                            }
                            else
                            {
                                <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Access Create</a></li>
                            }
                        </ul>
                        @using (Html.BeginForm(Actions.AddEdit, Controllers.RoleFormAccess, FormMethod.Post, new { id = "frmRoleFormAccess" }))
                        {
                            @Html.HiddenFor(m => m.RoleFormAccessId)
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-level-down" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.RoleId, Model.Roles, "Select Role", new { @tabindex = 1, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-list-alt" aria-hidden="true"></i></span>
                                                    @Html.ListBoxFor(m => m.SelectedMenus, Model.Menus, new { @tabindex = 2, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true, @title="Select Menus" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-list-alt" aria-hidden="true"></i></span>
                                                    @Html.ListBoxFor(m => m.SelectedForms, Model.Forms, new { @tabindex = 3, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true, @title = "Select Forms" })
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="bt-df-checkbox pull-left">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="i-checks pull-left">
                                                                <label>
                                                                    @Html.CheckBoxFor(m => m.ChkWriteAccess, new { @tabindex = 4 }) <i></i> Write Access
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10" tabindex="5">
                                                    Save
                                                </button>
                                                <a href="/RoleFormAccess/Index" class="btn btn-warning waves-effect waves-light" tabindex="6"> Discard </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".menuitem li a.active").removeClass("active");
        $("#admin-menu a").attr("aria-expanded", "true");
        $("#admin-menu ul").addClass('in');
        $(".menuitem a#aRoleForm").addClass('active'); 

        $(document).on("change", "#SelectedMenus", function () {  
            if ($(this).val()) {
                $.ajax({
                    type: 'post',
                    url: "../RoleFormAccess/GetFormIds",
                    data: {
                        strMenuIds: '' + $(this).val()
                    },
                    async: false,
                    success: function (data, item) { 
                        $("#SelectedForms").empty(); 
                        $.each(data.data, function (key, value) { 
                            $("#SelectedForms").append('<option value="' + key + '">' + value + '</option>');
                        }); 
                    },
                    cache: false,
                    error: function (e) {
                        if (e.status == 401) {
                            window.location.href = "../Login/UserLogin";
                        } else {
                            alert(e.responseText);
                        }
                    }
                });
            }
            else {
                $("#SelectedForms").empty();
            }
        });  
    });
</script>

