﻿@using NetRachisCore.Helpers
@model NetRachisCore.Models.BusinessObjects.DocumentUpload
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    <title>@ViewBag.Title</title>


}

<div class="single-product-tab-area pd-tb-15">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Upload Trade</a></li>
                        </ul>
                        @using (Html.BeginForm(Actions.UploadTrade, Controllers.DocumentUpload, FormMethod.Post, new { id = "frmUploadTrade", enctype = "multipart/form-data" }))
                        {
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="file-upload-inner file-upload-inner-right ts-forms mg-b-pro-edt">
                                                    <div class="input append-small-btn">
                                                        <div class="file-button">
                                                            Browse
                                                            <input type="file" name="file" onchange="document.getElementById('FilePath').value = this.value;" accept=".csv">
                                                        </div>
                                                        @Html.TextBoxFor(m => m.FilePath, new { @tabindex = 2, @placeholder = "Browse trade" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10" tabindex="3">
                                                    Submit
                                                </button>
                                                <a href="/DocumentUpload/UploadTradeIndex" class="btn btn-warning waves-effect waves-light" tabindex="4"> Discard </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-lg-12 col-md-21 col-sm-12 col-xs-12">
                                <div class="review-content-section" id="divTradeTable">
                                    @if (Model.TradeList != null)
                                    {
                                        if (Model.TradeList.Count > 0)
                                        {
                                            <div class="sparkline13-graph mg-b-pro-edt x-editable-area">
                                                <div class="datatable-dashv1-list custom-datatable-overright x-editable-list">
                                                    <div id="toolbar">
                                                        <h1>Trade Details</h1>
                                                    </div>

                                                    <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-resizable="true" data-cookie="true"
                                                           data-cookie-id-table="saveId" data-toolbar="#toolbar" class="dataTable x-editor-custom pricingTable">
                                                        <thead>
                                                            <tr>
                                                                <th data-field="tickno">Tick Number</th>
                                                                <th data-field="tradedate">Trade Date</th>
                                                                <th data-field="settledate">Settle Date</th>
                                                                <th data-field="buysell">BuySell</th>
                                                                <th data-field="externsymbol">Extern Symbol</th>
                                                                <th data-field="ticker">Ticker</th>
                                                                <th data-field="sectype">Sec Type</th>
                                                                <th data-field="clientcode">Client Code</th>
                                                                <th data-field="trader">Trader</th>
                                                                <th data-field="exchangegroup">Exchange Group</th>
                                                                <th data-field="broker">Broker</th>
                                                                <th data-field="avgprice">Avg Price</th>
                                                                <th data-field="pricecurrency">Price Currency</th>
                                                                <th data-field="settlecountrycode">SettleCountryCode</th>
                                                                <th data-field="shares">Shares</th>
                                                                <th data-field="netcost">Net Cost</th>
                                                                <th data-field="secfees">Sec Fees</th>
                                                                <th data-field="tax">Tax</th>
                                                                <th data-field="othercharges">Other Charges</th>
                                                                <th data-field="commission">Commission</th>
                                                                <th data-field="accruedinterest">Accrued Interest</th>
                                                                <th data-field="electronicallymatched">Electronically Matched</th>
                                                                <th data-field="maturedate">Mature Date</th>
                                                                <th data-field="avgyield">AvgYield</th>
                                                                <th data-field="strategy">Strategy</th>
                                                                <th data-field="couponrate">CouponRate</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.TradeList)
                                                            {
                                                                <tr>
                                                                    <td>@item.TickNumber</td>
                                                                    <td>@item.TradeDate</td>
                                                                    <td>@item.SettleDate</td>
                                                                    <td>@item.BuySell</td>
                                                                    <td>@item.ExternSymbol</td>
                                                                    <td>@item.Ticker</td>
                                                                    <td>@item.SecType</td>
                                                                    <td>@item.ClientCode</td>
                                                                    <td>@item.Trader</td>
                                                                    <td>@item.ExchangeGroup</td>
                                                                    <td>@item.Broker</td>
                                                                    <td>@item.AvgPrice</td>
                                                                    <td>@item.PriceCurrency</td>
                                                                    <td>@item.SettleCountryCode</td>
                                                                    <td>@item.Shares</td>
                                                                    <td>@item.NetCost</td>
                                                                    <td>@item.SecFees</td>
                                                                    <td>@item.Tax</td>
                                                                    <td>@item.OtherCharges</td>
                                                                    <td>@item.Commission</td>
                                                                    <td>@item.AccruedInterest</td>
                                                                    <td>@item.ElectronicallyMatched</td>
                                                                    <td>@item.MatureDate</td>
                                                                    <td>@item.AvgYield</td>
                                                                    <td>@item.Strategy</td>
                                                                    <td>@item.CouponRate</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>


<script src="~/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".menuitem li a.active").removeClass("active");
        $("#docupload-menu a").attr("aria-expanded", "true");
        $("#docupload-menu ul").addClass('in');
        $(".menuitem a#aUploadTrade").addClass('active');
    });
</script>

