﻿@using NetRachisCore.Helpers
@model NetRachisCore.Models.BusinessObjects.DocumentUpload
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    <title>@ViewBag.Title</title>


}

<div class="single-product-tab-area pd-tb-15">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Upload Transaction</a></li>
                        </ul>
                        @using (Html.BeginForm(Actions.UploadTransaction, Controllers.DocumentUpload, FormMethod.Post, new { id = "frmUploadTransaction", enctype = "multipart/form-data" }))
                        {
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="file-upload-inner file-upload-inner-right ts-forms mg-b-pro-edt">
                                                    <div class="input append-small-btn">
                                                        <div class="file-button">
                                                            Browse
                                                            <input type="file" name="file" onchange="document.getElementById('FilePath').value = this.value;" accept=".csv">
                                                        </div> 
                                                        @Html.TextBoxFor(m => m.FilePath, new { @tabindex = 2,  @placeholder = "Browse transaction"})
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10" tabindex="3">
                                                    Submit
                                                </button>
                                                <a href="/DocumentUpload/UploadTransaction" class="btn btn-warning waves-effect waves-light" tabindex="4"> Discard </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".menuitem li a.active").removeClass("active");
        $("#docupload-menu a").attr("aria-expanded", "true");
        $("#docupload-menu ul").addClass('in');
        $(".menuitem a#aUploadTransaction").addClass('active');
    });
</script>

