﻿ 
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="text-center dashboard " style="opacity:99%">
        <h2 class="dashboard_h2" style=" font-family: open sans-serif; padding-top:5%">
            <span style=" font-family: open sans-serif; color: #985221"> Net Rachis _ Exe </span>
        </h2> 
</div>