﻿@using NetRachisCore.Helpers
@model NetRachisCore.Models.BusinessObjects.FileTypeConfiguration
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    <title>@ViewBag.Title</title>
    var recCount = 0;
}

<style>
    table {
        border: 1px solid #e5e6e7;
        border-radius: 1px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        padding: 3px;
    } 
</style>
<div class="single-product-tab-area pd-tb-15">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>File Type Configuration</a></li>
                        </ul>
                        @using (Html.BeginForm(Actions.AddEdit, Controllers.FileTypeConfiguration, FormMethod.Post, new { id = "frmFileTypeConfiguration", enctype = "multipart/form-data" }))
                        {
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="panel">
                                        @Html.HiddenFor(m => m.FileTypeConfId)
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                                        @Html.DropDownListFor(m => m.ProjectId, Model.ProjectList, "Select Project", new { @tabindex = 1, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                        @Html.HiddenFor(m => m.ProjectId, new { @class="hdnSelect"})
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                                        @Html.DropDownListFor(m => m.ModuleId, Model.ModuleList, "Select Module", new { @tabindex = 2, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                        @Html.HiddenFor(m => m.ModuleId, new { @class = "hdnSelect" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-pencil-square" aria-hidden="true"></i></span>
                                                        @Html.TextBoxFor(m => m.GeneratedFileTypeId, new { @tabindex = 3, @class = "form-control", @placeholder = "File TypeId", @title = "FileTypeId", @required = true, @readonly = true })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-pencil-square" aria-hidden="true"></i></span>
                                                        @Html.TextBoxFor(m => m.GeneratedFileTypeName, new { @tabindex = 4, @class = "form-control", @placeholder = "File Type Name", @title = "FileTypeName", @required = true })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-paperclip" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.FileExtnTypeId, Model.FileExtnTypeList, "Select FileExtType", new { @tabindex = 5, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                    @Html.HiddenFor(m => m.FileExtnTypeId, new { @class = "hdnSelect" })
                                                </div>
                                                @*<div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-file-text" aria-hidden="true"></i></span>
                                                        @Html.DropDownListFor(m => m.FileTypeId, Model.FileTypeList, "Select FileType", new { @tabindex = 6, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                    </div>*@
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-list-alt" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.TableTypeId, Model.TableTypeList, new { @tabindex = 7, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                    @Html.HiddenFor(m => m.TableTypeId, new { @class = "hdnSelect" })
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-columns" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.TableName, new { @tabindex = 8, @class = "form-control restrictSpace", @placeholder = "Table Name", @required = true })
                                                </div>
                                                <div class="i-checks pull-left">
                                                    <label>
                                                        @Html.CheckBoxFor(m => m.IsSet, new { @tabindex = 9, @class = "chkIsSet" }) <i></i> Set
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div id="divCSVFileColumn">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon"><i class="fa fa-file-text" aria-hidden="true"></i></span>
                                                                @Html.TextBoxFor(m => m.DataRowStart, new { @tabindex = 10, @class = "form-control", @placeholder = "DataRowStart", @title = "DataRowStart" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="table-responsive" id="divTblFileColumn">
                                                                <table id="tblFileColumn" class="table table-bordered mar-top20 table-striped fileColumnTable">
                                                                    <thead>
                                                                        <tr>
                                                                            <th></th>
                                                                            <th>Column Name</th>
                                                                            <th>Data Type</th>
                                                                            <th>Column No</th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @if (Model.FileColumnList != null)
                                                                        {
                                                                            if (Model.FileColumnList.Count > 0)
                                                                            {
                                                                                recCount = 0;
                                                                                foreach (var item in Model.FileColumnList)
                                                                                {
                                                                        <tr>
                                                                            @if (recCount == 0)
                                                                                        {
                                                                                        <td>
                                                                                            <a href='javascript:void(0);' class='removeRow' title='Delete Row' style="visibility:hidden" tabindex="11"><i class="fa fa-minus-circle text-danger" aria-hidden="true" style="font-size: x-large; cursor: pointer;"></i></a>
                                                                                        </td>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                        <td>
                                                                                            <a href='javascript:void(0);' class='removeRow' title='Delete Row' tabindex="11"><i class="fa fa-minus-circle text-danger" aria-hidden="true" style="font-size: x-large; cursor: pointer;"></i></a>
                                                                                        </td>
                                                                                        }
                                                                            <td id="tdColName">
                                                                                <input type='text' id='ColName' class="form-control inputreq restrictSpace" value='@item.ColumnName' placeholder="Column Name" tabindex="12" />
                                                                            </td>
                                                                            <td id="tdDataType">
                                                                                @Html.DropDownList("DataTypeId", item.DataTypeList, "Select", new { @tabindex = 13, @class = "form-control drpDataType" })
                                                                            </td>

                                                                            <td id="tdColNo">
                                                                                <input type='text' id='ColumnNo' class="form-control inputreq" value='@item.ColumnNo' placeholder="Column No" tabindex="14" />
                                                                            </td>
                                                                            <td>
                                                                                <a href='javascript:void(0);' class='addFileColRow' title='Add Row' tabindex="15"><i class="fa fa-plus-circle text-success" aria-hidden="true" style="font-size: x-large; cursor: pointer"></i></a>
                                                                            </td>
                                                                        </tr>
                                                                                        recCount = recCount + 1;
                                                                                }
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                        <tr>
                                                                            <td>
                                                                                <a href='javascript:void(0);' class='removeRow' title='Delete Row' style="visibility:hidden" tabindex="11"><i class="fa fa-minus-circle text-danger" aria-hidden="true" style="font-size: x-large; cursor: pointer;"></i></a>
                                                                            </td>
                                                                            <td id="tdColName">
                                                                                <input type='text' id='ColName' class="form-control inputreq restrictSpace" value='' placeholder="Column Name" tabindex="12" />
                                                                            </td>
                                                                            <td id="tdDataType">
                                                                                @Html.DropDownList("DataTypeId", Model.DataTypeList, "Select", new { @tabindex = 13, @class = "form-control drpDataType" })
                                                                            </td>

                                                                            <td id="tdColNo">
                                                                                <input type='text' id='ColumnNo' class="form-control inputreq" value='' placeholder="Column No" tabindex="14" />
                                                                            </td>
                                                                            <td>
                                                                                <a href='javascript:void(0);' class='addFileColRow' title='Add Row' tabindex="15"><i class="fa fa-plus-circle text-success" aria-hidden="true" style="font-size: x-large; cursor: pointer"></i></a>
                                                                            </td>
                                                                        </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                                @Html.HiddenFor(m => m.strFileColumnList)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="divXMLTag">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="table-responsive" id="divTblTag">
                                                                <table id="tblTag" class="table table-bordered mar-top20 table-striped tagTable">
                                                                    <thead>
                                                                        <tr>
                                                                            <th></th>
                                                                            <th>Tag Name</th>
                                                                            <th>Data Type</th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @if (Model.TagColumnList != null)
                                                                        {
                                                                            if (Model.TagColumnList.Count > 0)
                                                                            {
                                                                                recCount = 0;
                                                                                foreach (var item in Model.TagColumnList)
                                                                                {
                                                                        <tr>
                                                                            @if (recCount == 0)
                                                                                        {
                                                                                        <td>
                                                                                            <a href='javascript:void(0);' class='removeRow' title='Delete Row' style="visibility:hidden" tabindex="16"><i class="fa fa-minus-circle text-danger" aria-hidden="true" style="font-size: x-large; cursor: pointer;"></i></a>
                                                                                        </td>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                        <td>
                                                                                            <a href='javascript:void(0);' class='removeRow' title='Delete Row' tabindex="16"><i class="fa fa-minus-circle text-danger" aria-hidden="true" style="font-size: x-large; cursor: pointer;"></i></a>
                                                                                        </td>
                                                                                        }
                                                                            <td id="tdTagName">
                                                                                <input type='text' id='TagName' class="form-control inputreq" value='@item.Tag' placeholder="Tag Name" tabindex="17" />
                                                                            </td>
                                                                            <td id="tdDataType">
                                                                                @Html.DropDownList("DataTypeId", item.DataTypeList, "Select", new { @tabindex = 18, @class = "form-control drpDataType" })
                                                                            </td>
                                                                            <td>
                                                                                <a href='javascript:void(0);' class='addTagRow' title='Add Row' tabindex="19"><i class="fa fa-plus-circle text-success" aria-hidden="true" style="font-size: x-large; cursor: pointer"></i></a>
                                                                            </td>
                                                                        </tr>
                                                                                        recCount = recCount + 1;
                                                                                }
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                        <tr>
                                                                            <td>
                                                                                <a href='javascript:void(0);' class='removeRow' title='Delete Row' style="visibility:hidden" tabindex="16"><i class="fa fa-minus-circle text-danger" aria-hidden="true" style="font-size: x-large; cursor: pointer;"></i></a>
                                                                            </td>
                                                                            <td id="tdTagName">
                                                                                <input type='text' id='TagName' class="form-control inputreq" value='' placeholder="Tag Name" tabindex="17" />
                                                                            </td>
                                                                            <td id="tdDataType">
                                                                                @Html.DropDownList("DataTypeId", Model.DataTypeList, "Select", new { @tabindex = 18, @class = "form-control drpDataType" })
                                                                            </td>
                                                                            <td>
                                                                                <a href='javascript:void(0);' class='addTagRow' title='Add Row' tabindex="19"><i class="fa fa-plus-circle text-success" aria-hidden="true" style="font-size: x-large; cursor: pointer"></i></a>
                                                                            </td>
                                                                        </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                                @Html.HiddenFor(m => m.strTagColumnList)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="divDataTypeSelect" style="display:none">
                                        @Html.DropDownList("HdnDataTypeId", Model.DataTypeList, "Select", new { @class = "form-control pro-edt-select form-control-primary drpDataType", @style = "cursor:pointer" })
                                    </div>

                                    <div class="row" style="margin-top: 2%;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                            <div class="text-center mg-b-pro-edt custom-pro-edt-ds ">
                                                @if (Model.FileTypeConfId > 0)
                                                {
                                                    <button id="btnSubmit" type="submit" class="btn btn-primary" tabindex="20">Update</button>
                                                }
                                                else
                                                {
                                                    <button id="btnSubmit" type="submit" class="btn btn-primary" tabindex="20">Submit</button>
                                                }
                                                <a href="/FileTypeConfiguration/Index" class="btn btn-warning waves-effect waves-light" tabindex="21"> Discard </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".menuitem li a.active").removeClass("active");
        $("#master-menu a").attr("aria-expanded", "true");
        $("#master-menu ul").addClass('in');
        $(".menuitem a#aFileTypeConfiguration").addClass('active');

        if ($("#FileExtnTypeId").val() == 1) {
            $("#divCSVFileColumn").show();
            $("#divXMLTag").hide();
        }
        else if ($("#FileExtnTypeId").val() == 2) {
            $("#divCSVFileColumn").hide();
            $("#divXMLTag").show();
        }
        else {
            $("#divCSVFileColumn").hide();
            $("#divXMLTag").hide();
        }

        if ($("#FileTypeConfId").val() > 0) {
            $("#FileExtnTypeId").select2({ disabled: 'readonly' });

            if ($('#IsSet').prop("checked")) {
                $('#frmFileTypeConfiguration input:not(:button)').attr('readonly', true);
                $('#frmFileTypeConfiguration select').select2({ disabled: 'readonly' });
                $('.chkIsSet').attr('readonly', false);
            }
        }

        $(document).on("change", "#FileExtnTypeId", function () {
            if ($(this).val() == 1) { 

                $("table.fileColumnTable>tbody").empty();
                var dataTypeDrop = $("#divDataTypeSelect").html(); 
                var row = "<tr>";
                row = row + "<td><a href='javascript:void(0);' class='removeRow' title='Delete Row' style='visibility:hidden'><i class='fa fa-minus-circle text-danger' aria-hidden='true' style='font-size: x-large;cursor: pointer;'></i></a></td>";
                row = row + "<td id='tdColName'><input type='text' id='ColName' class='form-control inputreq restrictSpace' value='' placeholder='Column Name' tabindex='11' /></td>";
                row = row + "<td id='tdDataType'>" + dataTypeDrop + "</td>";
                row = row + "<td id='tdColNo'><input type='text' id='ColumnNo' class='form-control inputreq' value='' placeholder='Column No' tabindex='13' /></td>";
                row = row + "<td><a href='javascript:void(0);' class='addFileColRow' title='Add Row' tabindex='14'><i class='fa fa-plus-circle text-success' aria-hidden='true' style='font-size: x-large; cursor: pointer'></i></a></td>";
                row = row + "</tr>"; 
                $("table.fileColumnTable>tbody").append(row);

                $("#divCSVFileColumn").show();

                $("table.tagTable>tbody").empty();
                $("#divXMLTag").hide();
            }
            else if ($(this).val() == 2) {
                $("table.fileColumnTable>tbody").empty(); 
                $("#divCSVFileColumn").hide();

                $("table.tagTable>tbody").empty();

                var dataTypeDrop = $("#divDataTypeSelect").html();

                var row = "<tr>";
                row = row + "<td><a href='javascript:void(0);' class='removeRow' title='Delete Row'  tabindex='15' style='visibility:hidden'><i class='fa fa-minus-circle text-danger' aria-hidden='true' style='font-size: x-large;cursor: pointer;'></i></a></td>";
                row = row + "<td id='tdTagName'><input type='text' id='TagName' class='form-control inputreq' value='' placeholder='Tag Name' tabindex='16' /></td>";
                row = row + "<td id='tdDataType'>" + dataTypeDrop + "</td>";
                row = row + "<td><a href='javascript:void(0);' class='addTagRow' title='Add Row' tabindex='18'><i class='fa fa-plus-circle text-success' aria-hidden='true' style='font-size: x-large; cursor: pointer'></i></a></td>";
                row = row + "</tr>";

                $("table.tagTable>tbody").append(row);

                $("#divXMLTag").show();
            }
            else {
                $("#divCSVFileColumn").hide();
                $("#divXMLTag").hide();
            }
        });

        $(document).on("keypress", ".restrictSpace", function (e) {
            if (e.which === 32)
                return false;
        });

        $(document).on("change", "#frmFileTypeConfiguration select", function () {
            $('input[name='+$(this).attr("id")+'').val($(this).val());
        });

        $(document).on("ifChanged", ".chkIsSet", function () {
            if ($(this).prop("checked")) {
                $('#frmFileTypeConfiguration input:not(:button)').attr('readonly', true);
                $('#frmFileTypeConfiguration select').select2({ disabled: 'readonly' });
                $('.chkIsSet').attr('readonly', false);
            }
            else {
                $('#frmFileTypeConfiguration input:not(:button)').attr('readonly', false);
                $('#frmFileTypeConfiguration select').select2({ disabled: '' });

                if ($("#FileTypeConfId").val() > 0) {
                    $("#FileExtnTypeId").select2({ disabled: 'readonly' })
                }
                $('#GeneratedFileTypeId').attr('readonly', true);
            }
        });

        $(document).on("click", "#btnSubmit", function () {
            if ($("#FileExtnTypeId").val() == 1) {
                var fileColList = new Array();
                $("#divTblFileColumn table tbody tr").each(function (i) {
                    var tds = $(this).find("td:visible");
                    if ($(tds[1]).find("#ColName").val() != '' && $(tds[2]).find(".drpDataType").val() > 0) {
                        var fileCol = { ColumnName: $(tds[1]).find("#ColName").val(), DataTypeId: $(tds[2]).find(".drpDataType").val(), DataType: $(tds[2]).find(".drpDataType option:selected").text(), ColumnNo: $(tds[3]).find("#ColumnNo").val() };
                        fileColList.push(fileCol);
                    }
                });
                $('#strFileColumnList').val(JSON.stringify(fileColList));
                if (fileColList.length == 0) {
                    alert("Please select atlease one entry for table column.");
                    return false;
                }
            }
            else if ($("#FileExtnTypeId").val() == 2) {
                var tagList = new Array();
                $("#divTblTag table tbody tr").each(function (i) {
                    var tds = $(this).find("td:visible");
                    if ($(tds[1]).find("#TagName").val() != '' && $(tds[2]).find(".drpDataType").val() > 0) {
                        var tag = { Tag: $(tds[1]).find("#TagName").val(), DataTypeId: $(tds[2]).find(".drpDataType").val(), DataType: $(tds[2]).find(".drpDataType option:selected").text() };
                        tagList.push(tag);
                    }
                });
                $('#strTagColumnList').val(JSON.stringify(tagList));
                if (tagList.length == 0) {
                    alert("Please select atlease one entry for tag column.");
                    return false;
                }
            }
        });

        $(document).on('keypress click', '.removeRow', function () {
            var tbl_row = $(this).closest('tr');
            tbl_row.remove();
        });

        $(document).on('keypress click', '.addFileColRow', function () {
            var control = $(this);
            var empty = false;
            var input = $(control).parents("table.fileColumnTable>tbody>tr").find('input[type="text"]');
            input.each(function () {
                if ((!$(this).val() || $(this).val() == 0) && $(this).hasClass("inputreq")) {
                    $(this).addClass("inputreqerror");
                    empty = true;
                } else {
                    $(this).removeClass("inputreqerror");
                }
            });
            var select = $(control).parents("table.fileColumnTable>tbody>tr").find('select');
            select.each(function () {
                if (!$(this).val()) {
                    $(this).addClass("inputreqerror");
                    empty = true;
                } else {
                    $(this).removeClass("inputreqerror");
                }
            });

            if (!empty) {
                var dataTypeDrop = $("#divDataTypeSelect").html();

                var row = "<tr>";
                row = row + "<td><a href='javascript:void(0);' class='removeRow' title='Delete Row'><i class='fa fa-minus-circle text-danger' aria-hidden='true' style='font-size: x-large;cursor: pointer;'></i></a></td>";
                row = row + "<td id='tdColName'><input type='text' id='ColName' class='form-control inputreq restrictSpace' value='' placeholder='Column Name' tabindex='11' /></td>";
                row = row + "<td id='tdDataType'>" + dataTypeDrop + "</td>";
                row = row + "<td id='tdColNo'><input type='text' id='ColumnNo' class='form-control inputreq' value='' placeholder='Column No' tabindex='13' /></td>";
                row = row + "<td><a href='javascript:void(0);' class='addFileColRow' title='Add Row' tabindex='14'><i class='fa fa-plus-circle text-success' aria-hidden='true' style='font-size: x-large; cursor: pointer'></i></a></td>";
                row = row + "</tr>";

                $(control).parents("table.fileColumnTable>tbody").append(row);
            }
        });

        $(document).on('keypress click', '.addTagRow', function () {
            var control = $(this);
            var empty = false;
            var input = $(control).parents("table.tagTable>tbody>tr").find('input[type="text"]');
            input.each(function () {
                if ((!$(this).val() || $(this).val() == 0) && $(this).hasClass("inputreq")) {
                    $(this).addClass("inputreqerror");
                    empty = true;
                } else {
                    $(this).removeClass("inputreqerror");
                }
            });
            var select = $(control).parents("table.tagTable>tbody>tr").find('select');
            select.each(function () {
                if (!$(this).val()) {
                    $(this).addClass("inputreqerror");
                    empty = true;
                } else {
                    $(this).removeClass("inputreqerror");
                }
            });

            if (!empty) {
                var dataTypeDrop = $("#divDataTypeSelect").html();

                var row = "<tr>";
                row = row + "<td><a href='javascript:void(0);' class='removeRow' title='Delete Row'  tabindex='15'><i class='fa fa-minus-circle text-danger' aria-hidden='true' style='font-size: x-large;cursor: pointer;'></i></a></td>";
                row = row + "<td id='tdTagName'><input type='text' id='TagName' class='form-control inputreq' value='' placeholder='Tag Name' tabindex='16' /></td>";
                row = row + "<td id='tdDataType'>" + dataTypeDrop + "</td>";
                row = row + "<td><a href='javascript:void(0);' class='addTagRow' title='Add Row' tabindex='18'><i class='fa fa-plus-circle text-success' aria-hidden='true' style='font-size: x-large; cursor: pointer'></i></a></td>";
                row = row + "</tr>";

                $(control).parents("table.tagTable>tbody").append(row);
            }
        });

        //To bind the module dropdown based on the project selection
        $(document).on("change", "#ProjectId", function () {
            var control = $(this);
            if ($(control).val() > 0) {
                $.ajax({
                    type: 'post',
                    url: "../TestCaseBuild/GetModulesByProjectId",
                    data: {
                        projectId: $(control).val()
                    },
                    async: false,
                    success: function (data, item) {
                        $("#ModuleId").empty();
                        $("#ModuleId").append('<option value="">Select Module</option>');
                        $("#select2-ModuleId-container").text("Select Module");
                        $.each(data.data, function (key, value) {
                            $("#ModuleId").append('<option value="' + key + '">' + value + '</option>');
                        });
                    },
                    cache: false,
                    error: function (e) {
                        if (e.status == 401) {
                            window.location.href = "../Login/UserLogin";
                        } else {
                            alert(e.responseText);
                        }
                    }
                });
            }
            else {
                $("#ModuleId").empty();
                $("#ModuleId").append('<option value="">Select Module</option>');
                $("#select2-ModuleId-container").text("Select Module");
            }
        });
 
    });

</script>