﻿
a.pd-setting-ed {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.12);
    background: #f5f5f5;
}

a.pd-setting-ed {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.modal-close-area a {
    background: #006F9C;
}

.menuitem li .active {
    color: #f8f9fa;
    text-decoration: none;
    background: #006F9C;
}

.changepasswordlink {
    text-decoration: underline;
    text-decoration-color: #006F9C;
    margin-bottom: 25px;
}

.error {
    color: #F00;
    background-color: #FFF;
}

.pd-tb-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (max-width: 991px) and (min-width: 768px) {
    .header-right-info .navbar-nav {
        float: right !important;
        margin: 0px !important;
    }
}

@media (max-width: 767px) {
    .header-right-info ul.header-right-menu > li > a {
        padding: 0px !important;
    }
}

.all-content-wrapper {
    height: 100%;
}

.bodycontentarea {
    min-height: calc(100vh - 119px);
    height: auto;
    background: url('../Content/Theme/img/body_bg.png'); /*////////(To change the background image of the body///////////*/
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 990px) {
    .bodycontentarea {
        min-height: calc(100vh - 227px);
        height: auto;
    }
}

/*.bodycontentarea::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    min-height: calc(100vh - 119px);
    height: auto;
    left: 0;
    background-color: rgba(191, 191, 191, 0.7);
}*/

/*@media (max-width: 990px) {
    .bodycontentarea::before {
        min-height: calc(100vh - 169px);
        height: auto;
    }
}

@media (max-width: 505px) {
    .bodycontentarea::before {
        min-height: calc(100vh - 133px);
        height: auto;
    }
}*/

.mean-container .mean-bar {
    z-index: 1 !important;
}


.preloader-single {
    background: #fff;
    width: 100%;
    height: 250px;
    padding: 15px;
    border: 0px;
}

.m-20 {
    margin: 20px;
}

.p-20 {
    padding: 20px;
}

.wizard > .content {
    min-height: 18em;
}

#pricingCalcTable > tbody > tr > td {
    border-top: 0px;
}

.inputreqerror {
    border-color: #f50000;
}

.custom-datatable-overright table tbody tr td.bs-checkbox {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.x-editor-custom .popover-title {
    background: #006F9C;
}

.x-editor-custom .popover {
    border: 1px solid #006F9C;
}

.x-editor-custom .btn-primary {
    background-color: #006F9C;
    border-color: #006F9C;
}

.x-editor-custom .btn-default:hover, .x-editor-custom .btn-default:focus {
    background-color: #006F9C;
    border-color: #006F9C;
}

.thAction3 {
    width: 145px;
}

.review-tab-pro-inner, .sparkline13-list {
    border: 1px solid #c7c7c7;
    border-radius: 3px;
}

.btn-deleteok {
    color: #fff;
}

    .btn-deleteok:hover, .btn-deleteok:focus {
        color: #444;
    }

sidebar-nav .metismenu a:hover, .sidebar-nav .metismenu a:focus, .sidebar-nav .metismenu a:active {
    background: #006F9C;
}

.sidebar-nav .metismenu a:hover,
.sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:active {
    background: #006F9C;
}
