﻿@using NetRachisCore.Helpers;
@using Microsoft.AspNetCore.Http
@{
    var session = new SessionHelper(new HttpContextAccessor());
}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Rachis - Automated QA System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="~/Content/Theme/image/x-icon" href="~/Content/Theme/img/loginlogo.ico">
    <!-- Google Fonts
        ============================================ -->
    @*<link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">*@
    <link href="~/Content/Theme/css/googlefonts.css" rel="stylesheet" />
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Theme/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Theme/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Theme/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/Theme/css/owl.theme.css">
    <link rel="stylesheet" href="~/Content/Theme/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Theme/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Theme/css/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Theme/css/meanmenu.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Theme/css/main.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Theme/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Theme/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Theme/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/Content/Theme/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Theme/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Content/Theme/css/calendar/fullcalendar.print.min.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Theme/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="~/Content/Theme/css/data-table/bootstrap-editable.css">
    <!-- modals CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Theme/css/modals.css">
    <!-- select2 CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Theme/css/select2/select2.min.css">
    <!-- forms CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Theme/css/form/all-type-forms.css">
    <!-- Preloader CSS
    ============================================ -->
    <link rel="stylesheet" href="~/Content/Theme/css/preloader/preloader-style.css">
    <!-- x-editor CSS
       ============================================ -->
    @*<link rel="stylesheet" href="~/Content/Theme/css/editor/select2.css">
        <link rel="stylesheet" href="~/Content/Theme/css/editor/datetimepicker.css">*@
    <link rel="stylesheet" href="~/Content/Theme/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="~/Content/Theme/css/editor/x-editor-style.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Theme/style.css">
    <link rel="stylesheet" href="~/css/CustomStyle.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/Theme/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="~/Content/Theme/js/vendor/modernizr-2.8.3.min.js"></script>

    <style>
        .sidebar-nav .metismenu ul a {
            font-size: 13px;
        }
    </style>

</head>
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="../Home/Index">@*<img class="main-logo" src="Content/Theme/img/logo/logo.png" alt="" />*@ <p style="width: 205px; height: 58px; font-size: 40px; color: #985221; font-family: serif; margin: 0;">Rachis</p></a>
                <strong>@*<img src="~/Content/Theme/img/logo/logosn.png" alt="" />*@ <span style="width: 80px; height: 58px; font-size: 14px; color: #985221; font-family: serif; margin: 0; display: block; padding: 10px;">Rachis</span></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu menuitem" id="menu1">
                        @if (session.SessionLogOnInfo().MenuAccessList != null && @session.SessionLogOnInfo().FormAccessList != null)
                        {
                            if (@session.SessionLogOnInfo().MenuAccessList.Exists(x => x.Name == "Dashboard"))
                            {
                                if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "Dashboard"))
                                {
                                    <li><a id="aDashBoard" title="Dashboard" href="../Home/Index" aria-expanded="false"><i class="fa big-icon fa-dashboard icon-wrap" aria-hidden="true"></i> <span class="mini-click-non">Dashboard</span></a></li>
                                }
                            }
                            if (@session.SessionLogOnInfo().MenuAccessList.Exists(x => x.Name == "Admin"))
                            {
                                <li id="admin-menu">
                                    <a class="has-arrow" href="#" title="Administration">
                                        <i class="fa big-icon fa-users icon-wrap"></i>
                                        <span class="mini-click-non">Administration</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="true">
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "Role"))
                                        {
                                            <li><a id="aRole" title="Role" href="../Role/Index"><i class="fa fa-user-secret sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Role</span></a></li>
                                        }
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "RoleFormAccess"))
                                        {
                                            <li><a id="aRoleForm" title="Role Form Access" href="../RoleFormAccess/Index"><i class="fa fa-sitemap sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Role Form Access</span></a></li>
                                        }
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "User"))
                                        {
                                            <li><a id="aUser" title="User" href="../User/Index"><i class="fa fa-user sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">User</span></a></li>
                                        }
                                    </ul>
                                </li>
                            }
                            if (@session.SessionLogOnInfo().MenuAccessList.Exists(x => x.Name == "Static Data"))
                            {
                                <li id="static-menu">
                                    <a class="has-arrow" href="#" title="Config Static">
                                        <i class="fa big-icon fa-wrench icon-wrap"></i>
                                        <span class="mini-click-non">Config Static</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="true">
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "FileTypes"))
                                        {
                                            <li><a id="aFileTypes" title="FileTypes" href="../FileTypes/Index"><i class="fa fa-files-o sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">File Types</span></a></li>
                                        }
                                        @*@if (session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "TableTypes"))
                                            {
                                                <li><a id="aTableTypes" title="TableTypes" href="../TableTypes/Index"><i class="fa fa-table sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Table Types</span></a></li>
                                            }*@
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "Project"))
                                        {
                                            <li><a id="aProject" title="Project" href="../Project/Index"><i class="fa fa-object-group sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Project</span></a></li>
                                        }
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "Module"))
                                        {
                                            <li><a id="aModule" title="Module" href="../Module/Index"><i class="fa fa-tasks sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Module</span></a></li>
                                        }
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "TestCaseBuild"))
                                        {
                                            <li><a id="aTestCaseBuild" title="TestCaseBuild" href="../TestCaseBuild/Index"><i class="fa fa-space-shuttle sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">TestCase Builder Name</span></a></li>
                                        }
                                    </ul>
                                </li>
                            }
                            if (@session.SessionLogOnInfo().MenuAccessList.Exists(x => x.Name == "Master"))
                            {
                                <li id="master-menu">
                                    <a class="has-arrow" href="#" title="Config Master">
                                        <i class="fa big-icon fa-pie-chart icon-wrap"></i>
                                        <span class="mini-click-non">Config Master</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="true">
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "FileTypeConfiguration"))
                                        {
                                            <li><a id="aFileTypeConfiguration" title="FileType Configuration" href="../FileTypeConfiguration/Index"><i class="fa fa-file-zip-o sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Test File Type Config</span></a></li>
                                        }
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "Configuration"))
                                        {
                                            <li><a id="aConfiguration" title="Configuration" href="../Configuration/Index"><i class="fa fa-file-code-o sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Test Source File Config</span></a></li>
                                        }
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "TestCaseBuildDev"))
                                        {
                                            <li><a id="aTestCaseBuildDev" title="TestCase Builder" href="../TestCaseBuildDev/Index"><i class="fa fa-anchor sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">TestCase Builder</span></a></li>
                                        }
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "TradeBookingConfig"))
                                        {
                                            <li><a id="aTradeBookingConfig" title="Trade Booking Config" href="../TradeBookingConfig/Index"><i class="fa fa-external-link sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Trade Booking Config</span></a></li>
                                        }
                                    </ul>
                                </li>
                            }
                            if (@session.SessionLogOnInfo().MenuAccessList.Exists(x => x.Name == "TestExecution"))
                            {
                                <li id="testexecution-menu">
                                    <a class="has-arrow" href="#" title="Test Execution">
                                        <i class="fa big-icon fa-cog icon-wrap"></i>
                                        <span class="mini-click-non">Test Execution</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="true">
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "ServiceControl"))
                                        {
                                            <li><a id="aServiceControl" title="Service Control" href="../ProcessExecution/AddEdit?processExecutionId=0"><i class="fa fa-check-square-o sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Service Control</span></a></li>
                                        }
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "MonitoringControl"))
                                        {
                                            <li><a id="aMonitoringControl" title="Monitoring Control" href="#"><i class="fa fa-desktop sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Monitoring Control</span></a></li>
                                        }
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "ErrorLog"))
                                        {
                                            <li><a id="aErrorLog" title="Error Log" href="#"><i class="fa fa-exclamation-triangle sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Error Log</span></a></li>
                                        }
                                    </ul>
                                </li>
                            }
                            if (@session.SessionLogOnInfo().MenuAccessList.Exists(x => x.Name == "Reports"))
                            {
                                <li id="reports-menu">
                                    <a class="has-arrow" href="#" title="Reports">
                                        <i class="fa big-icon fa-flag-o icon-wrap"></i>
                                        <span class="mini-click-non">Reports</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="true">
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "Reports"))
                                        {
                                            <li><a id="aReports" title="Reports" href="#"><i class="fa fa-bug sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Reports</span></a></li>
                                        }
                                    </ul>
                                </li>
                            }
                            if (@session.SessionLogOnInfo().MenuAccessList.Exists(x => x.Name == "DocumentUpload"))
                            {
                                <li id="docupload-menu">
                                    <a class="has-arrow" href="#" title="Document Upload">
                                        <i class="fa big-icon fa-upload icon-wrap"></i>
                                        <span class="mini-click-non">Document Upload</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="true">
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "UploadTrade"))
                                        {
                                            <li><a id="aUploadTrade" title="Upload Trade" href="../DocumentUpload/UploadTradeIndex"><i class="fa fa-crosshairs sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Upload Trade</span></a></li>
                                        }
                                        @*@if (session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "UploadTransaction"))
                                            {
                                                <li><a id="aUploadTransaction" title="Upload Transaction" href="../DocumentUpload/UploadTransaction"><i class="fa fa-crosshairs sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Upload Transaction</span></a></li>
                                            }*@
                                    </ul>
                                </li>
                            }
                            if (@session.SessionLogOnInfo().MenuAccessList.Exists(x => x.Name == "XmlComparison"))
                            {

                                <li id="xmlcompare-menu">
                                    <a class="has-arrow" href="#" title="XML Compare">
                                        <i class="fa big-icon fa-balance-scale icon-wrap"></i>
                                        <span class="mini-click-non">Xml Comparison</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="true">
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "XmlPull"))
                                        {
                                            <li><a id="aXmlPull" title="Pull XML" href="../XmlPull/Index"><i class="fa fa-check-square-o sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Pull XML</span></a></li>
                                        }
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "XmlComparison"))
                                        {
                                            <li><a id="aXmlCompare" title="Compare XML" href="../XmlComparison/XmlCompare"><i class="fa fa-check-square-o sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Compare XML</span></a></li>
                                        }
                                    </ul>
                                </li>

                            }
                            if (@session.SessionLogOnInfo().MenuAccessList.Exists(x => x.Name == "Automation"))
                            {

                                <li id="trading-menu">
                                    <a class="has-arrow" href="#" title="Trading">
                                        <i class="fa big-icon fa-balance-scale icon-wrap"></i>
                                        <span class="mini-click-non">Trading</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="true">
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "Trade"))
                                        {
                                            <li><a id="aTrade" title="Trade" href="../Trade/Index"><i class="fa fa-check-square-o sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Trade</span></a></li>
                                        }
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "Static"))
                                        {
                                            @*<li><a id="aStatic" title="Static" href="../TradeStatic/Index"><i class="fa fa-check-square-o sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Static</span></a></li>*@
                                            <li><a id="aStatic" title="Static" href="#"><i class="fa fa-check-square-o sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Static</span></a></li>
                                        }
                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "Config"))
                                        {
                                            @*<li><a id="aConfig" title="Config" href="../TradeConfig/Index"><i class="fa fa-check-square-o sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Config</span></a></li>*@
                                            <li><a id="aConfig" title="Config" href="#"><i class="fa fa-check-square-o sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Config</span></a></li>
                                        }
                                    </ul>
                                </li>

                            }
                        }
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
                    <div class="logo-pro">
                        <a href="index.html">@*<img class="main-logo" src="Content/Theme/img/logo/logo.png" alt="" />*@ <p style="height: 58px;font-size: 40px;color: #e12503;font-family: serif;margin:0;">Rachis</p></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                                <i class="fa fa-bars"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                            <ul class="nav navbar-nav mai-top-nav">
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link" style="font-size:20px;">GreenPoint Global</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                <li class="nav-item">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                        <i class="fa fa-user adminpro-user-rounded header-riht-inf" aria-hidden="true"></i>
                                                        <span class="admin-name">@session.SessionLogOnInfo().UserName</span>
                                                        <i class="fa fa-angle-down adminpro-icon adminpro-down-arrow"></i>
                                                    </a>
                                                    <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                        @*<li>
                                                                <a href="#"><span class="fa fa-user author-log-ic"></span>My Profile</a>
                                                            </li>*@
                                                        @*<li>
                                                                <a href="../Login/ChangePassword"><span class="fa fa-key author-log-ic"></span>Change Password</a>
                                                            </li>*@
                                                        <li>
                                                            <a href="../Login/Logout"><span class="fa fa-lock author-log-ic"></span>Log Out</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="mobile-menu-nav menuitem">
                                        @if (@session.SessionLogOnInfo().MenuAccessList != null && @session.SessionLogOnInfo().FormAccessList != null)
                                        {
                                            if (@session.SessionLogOnInfo().MenuAccessList.Exists(x => x.Name == "Dashboard"))
                                            {
                                                if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "Dashboard"))
                                                {
                                                    <li class="active">
                                                        <a href="../Home/Index">Dashboard</a>
                                                    </li>
                                                }
                                            }
                                            if (@session.SessionLogOnInfo().MenuAccessList.Exists(x => x.Name == "Admin"))
                                            {
                                                <li>
                                                    <a data-toggle="collapse" data-target="#adminmob" href="#">Administration<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                    <ul id="adminmob" class="collapse dropdown-header-top">
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "Role"))
                                                        {
                                                            <li>
                                                                <a href="../Role/Index">Role</a>
                                                            </li>
                                                        }
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "RoleFormAccess"))
                                                        {
                                                            <li>
                                                                <a href="../RoleFormAccess/Index">Role Form Access</a>
                                                            </li>
                                                        }
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "User"))
                                                        {
                                                            <li>
                                                                <a href="../User/Index">User</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            if (@session.SessionLogOnInfo().MenuAccessList.Exists(x => x.Name == "Static Data"))
                                            {
                                                <li>
                                                    <a data-toggle="collapse" data-target="#staticmob" href="#">Config Static<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                    <ul id="staticmob" class="collapse dropdown-header-top">
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "FileTypes"))
                                                        {
                                                            <li>
                                                                <a href="../FileTypes/Index">File Types</a>
                                                            </li>
                                                        }
                                                        @*@if (session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "TableTypes"))
                                                            {
                                                                <li>
                                                                    <a href="../TableTypes/Index">Table Types</a>
                                                                </li>
                                                            }*@
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "Project"))
                                                        {
                                                            <li>
                                                                <a href="../Project/Index">Project</a>
                                                            </li>
                                                        }
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "Module"))
                                                        {
                                                            <li>
                                                                <a href="../Module/Index">Module</a>
                                                            </li>
                                                        }
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "TestCaseBuild"))
                                                        {
                                                            <li>
                                                                <a href="../TestCaseBuild/Index">TestCase Builder Name</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            if (@session.SessionLogOnInfo().MenuAccessList.Exists(x => x.Name == "Master"))
                                            {
                                                <li>
                                                    <a data-toggle="collapse" data-target="#mastermob" href="#">Config Master<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                    <ul id="mastermob" class="collapse dropdown-header-top">
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "FileTypeConfiguration"))
                                                        {
                                                            <li>
                                                                <a href="../FileTypeConfiguration/Index">Test FileType Config</a>
                                                            </li>
                                                        }
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "Configuration"))
                                                        {
                                                            <li>
                                                                <a href="../Configuration/Index">Test Source File Config</a>
                                                            </li>
                                                        }
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "TestCaseBuildDev"))
                                                        {
                                                            <li>
                                                                <a href="../TestCaseBuildDev/Index">TestCase Builder</a>
                                                            </li>
                                                        }
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "TradeBookingConfig"))
                                                        {
                                                            <li>
                                                                <a href="../TradeBookingConfig/Index">Trade Booking Config</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            if (@session.SessionLogOnInfo().MenuAccessList.Exists(x => x.Name == "TestExecution"))
                                            {
                                                <li>
                                                    <a data-toggle="collapse" data-target="#mastermob" href="#">Test Execution<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                    <ul id="mastermob" class="collapse dropdown-header-top">
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "ServiceControl"))
                                                        {
                                                            <li>
                                                                <a href="../ProcessExecution/AddEdit?processExecutionId=0">Service Control</a>
                                                            </li>
                                                        }
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "MonitoringControl"))
                                                        {
                                                            <li>
                                                                <a href="#">Monitoring Control</a>
                                                            </li>
                                                        }
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "ErrorLog"))
                                                        {
                                                            <li>
                                                                <a href="#">Error Log</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            if (@session.SessionLogOnInfo().MenuAccessList.Exists(x => x.Name == "Reports"))
                                            {
                                                <li>
                                                    <a data-toggle="collapse" data-target="#mastermob" href="#">Reports<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                    <ul id="mastermob" class="collapse dropdown-header-top">
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "Reports"))
                                                        {
                                                            <li>
                                                                <a href="#">Reports</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            if (@session.SessionLogOnInfo().MenuAccessList.Exists(x => x.Name == "DocumentUpload"))
                                            {
                                                <li>
                                                    <a data-toggle="collapse" data-target="#docuploadmob" href="#">Document Upload<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                    <ul id="docuploadmob" class="collapse dropdown-header-top">
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "UploadTrade"))
                                                        {
                                                            <li>
                                                                <a href="../DocumentUpload/UploadTradeIndex">Upload Trade</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            if (@session.SessionLogOnInfo().MenuAccessList.Exists(x => x.Name == "XmlComparison"))
                                            {
                                                <li>
                                                    <a data-toggle="collapse" data-target="#xmlcomparemob" href="#">Xml Comparison<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                    <ul id="xmlcomparemob" class="collapse dropdown-header-top">
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "XmlPull"))
                                                        {
                                                            <li>
                                                                <a href="../XmlPull/Index">Pull XML</a>
                                                            </li>
                                                        }
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "XmlComparison"))
                                                        {
                                                            <li>
                                                                <a href="../XmlComparison/XmlCompare">Compare XML</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            if (@session.SessionLogOnInfo().MenuAccessList.Exists(x => x.Name == "Automation"))
                                            {

                                                <li>
                                                    <a data-toggle="collapse" data-target="#tradingmob" href="#">Trading<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                    <ul id="tradingmob" class="collapse dropdown-header-top">
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "Trade"))
                                                        {
                                                            <li>
                                                                <a href="../Trade/Index">Trade</a>
                                                            </li>
                                                        }
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "Static"))
                                                        {
                                                    <li>
                                                        @*<a href="../TradeStatic/Index">Static</a>*@
                                                        <a href="#">Static</a>
                                                    </li>
                                                        }
                                                        @if (@session.SessionLogOnInfo().FormAccessList.Exists(x => x.Name == "Config"))
                                                        {
                                                    <li>
                                                        @*<a href="../TradeConfig/Index">Config</a>*@
                                                        <a href="#">Config</a>
                                                    </li>
                                                        }
                                                    </ul>
                                                </li>

                                            }
                                        }
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bodycontentarea">
            <div id="bodycontent">
                @RenderBody()
            </div>
            <div id="message" style="display:grid;">
                @*@Html.Partial("_Message")*@
                <partial name="_Message" />
            </div>
        </div>
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Copyright &copy; 2019 <a href="#">Greenpoint Global</a> All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jquery
        ============================================ -->
    <script src="~/Content/Theme/js/vendor/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/Content/Theme/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/Content/Theme/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/Content/Theme/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/Content/Theme/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/Content/Theme/js/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/Content/Theme/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/Content/Theme/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/Content/Theme/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/Theme/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="~/Content/Theme/js/metisMenu/metisMenu.min.js"></script>
    <script src="~/Content/Theme/js/metisMenu/metisMenu-active.js"></script>
    <!-- data table JS
       ============================================ -->
    <script src="~/Content/Theme/js/data-table/bootstrap-table.js"></script>
    <script src="~/Content/Theme/js/data-table/tableExport.js"></script>
    <script src="~/Content/Theme/js/data-table/data-table-active.js"></script>
    <script src="~/Content/Theme/js/data-table/bootstrap-table-editable.js"></script>
    <script src="~/Content/Theme/js/data-table/bootstrap-editable.js"></script>
    <script src="~/Content/Theme/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="~/Content/Theme/js/data-table/colResizable-1.5.source.js"></script>
    <script src="~/Content/Theme/js/data-table/bootstrap-table-export.js"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="~/Content/Theme/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/Theme/js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="~/Content/Theme/js/morrisjs/raphael-min.js"></script>
    @*<script src="~/Content/Theme/js/morrisjs/morris.js"></script>
        <script src="~/Content/Theme/js/morrisjs/morris-active-pro.js"></script>*@
    <!-- calendar JS
        ============================================ -->
    <script src="~/Content/Theme/js/calendar/moment.min.js"></script>
    <script src="~/Content/Theme/js/calendar/fullcalendar.min.js"></script>
    <script src="~/Content/Theme/js/calendar/fullcalendar-active.js"></script>
    <!-- select2 JS
        ============================================ -->
    <script src="~/Content/Theme/js/select2/select2.full.min.js"></script>
    <script src="~/Content/Theme/js/select2/select2-active.js"></script>
    <!-- icheck JS
        ============================================ -->
    <script src="~/Content/Theme/js/icheck/icheck.min.js"></script>
    <script src="~/Content/Theme/js/icheck/icheck-active.js"></script>
    <!--  editable JS
        ============================================ -->
    <script src="~/Content/Theme/js/editable/jquery.mockjax.js"></script>
    <script src="~/Content/Theme/js/editable/mock-active.js"></script>
    @*<script src="~/Content/Theme/js/editable/select2.js"></script>
        <script src="~/Content/Theme/js/editable/moment.min.js"></script>*@
    <script src="~/Content/Theme/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="~/Content/Theme/js/editable/bootstrap-editable.js"></script>
    <script src="~/Content/Theme/js/editable/xediable-active.js"></script>
    <!-- plugins JS -->
    <script src="~/Content/Theme/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/Content/Theme/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $("#menu1 li").click(function (e) {
            $("#menu1 li a.active").removeClass("active"); //Remove any "active" class
        });
    });
</script> 