﻿@using NetRachisCore.Helpers
@if (!string.IsNullOrEmpty(CommonHelper.GetSuccessMessage(TempData[CommonHelper.SuccessMessageKey])))
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="alert-wrap2 shadow-reset wrap-alert-b">
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Success!</strong> @CommonHelper.GetSuccessMessage(TempData[CommonHelper.SuccessMessageKey])
            </div>
        </div>
    </div>
}
else if (!string.IsNullOrEmpty(CommonHelper.GetErrorMessage(TempData[CommonHelper.ErrorMessageKey])))
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="alert-wrap2 shadow-reset wrap-alert-b">
            <div class="alert alert-danger alert-mg-b">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Error!</strong> @CommonHelper.GetErrorMessage(TempData[CommonHelper.ErrorMessageKey])
            </div>
        </div>
    </div>
}
else
{
    <div></div>
}
 