﻿@*@page*@
@using Infragistics.Web.Mvc
@model List<NetRachisCore.Models.BusinessObjects.Role>
@{
    Layout = "~/Views/Shared/_Layout_Infra.cshtml";
    //ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @*<table id="grid">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Number
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr><td>1</td><td>Adjustable Race</td><td>AR-5381</td></tr>
                <tr><td>2</td><td>Bearing Ball</td><td>BA-8327</td></tr>
                <tr><td>3</td><td>BB Ball Bearing</td><td>BE-2349</td></tr>
                <tr><td>4</td><td>Headset Ball Bearings</td><td>BE-2908</td></tr>
                <tr><td>316</td><td>Blade</td><td>BL-2036</td></tr>
                <tr><td>317</td><td>LL Crankarm</td><td>CA-5965</td></tr>
                <tr><td>318</td><td>ML Crankarm</td><td>CA-6738</td></tr>
                <tr><td>319</td><td>HL Crankarm</td><td>CA-7457</td></tr>
                <tr><td>320</td><td>Chainring Bolts</td><td>CB-2903</td></tr>
                <tr><td>321</td><td>Chainring Nut</td><td>CN-6137</td></tr>
            </tbody>
        </table>*@

    @if (Model.Count() > 0)
    {
        @(Html.Infragistics().Grid(Model.AsQueryable()).ID("grid")
                .Width("100%")
                .Height("500px")
                .PrimaryKey("RoleId")
                .AutoGenerateColumns(false)
                .AutoGenerateLayouts(false)
                .Columns(column =>
                {
                    column.For(x => x.RoleId).HeaderText("RoleId").Width("30%");
                    column.For(x => x.RoleName).HeaderText("RoleName").Width("30%");
                    column.For(x => x.Description).HeaderText("Description").Width("30%");
                })
                .Features(features =>
                {
                    features.Sorting().Type(OpType.Local);
                    features.Paging().Type(OpType.Local);
                    features.Filtering().Type(OpType.Local);
                    features.Responsive().ColumnSettings(cs =>
                    {
                        cs.ColumnSetting().ColumnKey("RoleId").Classes("ui-hidden-phone");
                        cs.ColumnSetting().ColumnKey("RoleName").Classes("ui-hidden-phone");
                        cs.ColumnSetting().ColumnKey("Description").Classes("ui-hidden-phone ui-hidden-tablet");
                    });
                })
                .DataBind()
                .Render()
            )
    } 
    
</div>

@*<script src="https://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<script src="https://cdn-na.infragistics.com/igniteui/2022.1/latest/js/infragistics.core.js"></script>
<script src="https://cdn-na.infragistics.com/igniteui/2022.1/latest/js/infragistics.lob.js"></script>

<script type="text/javascript">
    $(function () {
        $("#grid").igGrid({
        });
    });

</script>*@
