﻿@using NetRachisCore.Helpers
@model NetRachisCore.Models.BusinessObjects.Configuration
@{
    <title>@ViewBag.Title</title>
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    var recCount = 0;
}

<div class="single-product-tab-area pd-tb-15">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            @if (Model.ConfigurationId > 0)
                            {
                                <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> File Configuration Edit</a></li>
                            }
                            else
                            {
                                <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> File Configuration Create</a></li>
                            }
                        </ul>
                        @using (Html.BeginForm(Actions.AddEdit, Controllers.Configuration, FormMethod.Post, new { id = "frmConfiguration", enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(m => m.ConfigurationId)
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-edit" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.ProjectId, Model.ProjectList, "Select Project", new { @tabindex = 1, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-edit" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.ModuleId, Model.ModuleList, "Select Module", new { @tabindex = 2, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.TestCaseBuildId, Model.TestCaseBuildList, "Select TestCaseBuild", new { @tabindex = 3, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h4>Input File</h4>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-edit" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.InputFileTypeId, Model.InputFileTypeList, "Select FileType", new { @tabindex = 4, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                    @Html.HiddenFor(m => m.InputFileTypeId)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-edit" aria-hidden="true"></i></span>
                                                    @*<input type="file" name="file" id="file" tabindex="4" class="form-control"/>
                                                        @Html.HiddenFor(m => m.InputFilePath)
                                                        @if (!String.IsNullOrEmpty(Model.InputFilePath))
                                                        {
                                                            if (Directory.Exists(Server.MapPath(Model.InputFilePath)))
                                                            {
                                                                foreach (var file in Directory.GetFiles(Server.MapPath(Model.InputFilePath)))
                                                                {
                                                                    string fileP = ".." + Model.InputFilePath + "/" + Path.GetFileName(file);
                                                                    <label id="lbldocAttach"><a href="@fileP" target="_blank" style="text-decoration:underline">@Path.GetFileName(@file)</a> </label><br />
                                                                }
                                                            }
                                                        }*@  
                                                    @Html.TextBoxFor(m => m.InputFilePath, new { @tabindex = 5, @class = "form-control", @placeholder = "Input File Path", @title = "InputFilePath", @required = true })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.InputFileFormat, new { @tabindex = 6, @class = "form-control", @placeholder = "File Format", @title = "Description", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <div class="i-checks pull-left">
                                                        <label>
                                                            @Html.CheckBoxFor(m => m.InputFileSet, new { @tabindex = 7, @class = "chkIsSet" }) <i></i> Set
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h4>Output File</h4>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-edit" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.OutputFileTypeId, Model.OutputFileTypeList, "Select FileType", new { @tabindex = 8, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                    @Html.HiddenFor(m => m.OutputFileTypeId)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-edit" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.OutputFilePath, new { @tabindex = 9, @class = "form-control", @placeholder = "Output File Path", @title = "OutputFilePath", @required = true })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.OutputFileFormat, new { @tabindex = 10, @class = "form-control", @placeholder = "File Format", @title = "File Format", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <div class="i-checks pull-left">
                                                        <label>
                                                            @Html.CheckBoxFor(m => m.OutputFileSet, new { @tabindex = 11, @class = "chkIsSet" }) <i></i> Set
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h4>Scheduler</h4>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="margin-bottom:0">Input File</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px;">
                                                    <label>Start Date</label>
                                                    @Html.TextBoxFor(m => m.SchedulerInputStartDate, Model.SchedulerInputStartDate.ToString("MM-dd-yyyy"), new { @tabindex = 12, @class = "form-control date", @placeholder = "Start Date", @title = "Start Date", @style = "min-width: 110px;", @required = true })
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <label>Time</label>
                                                    @Html.TextBoxFor(m => m.SchedulerInputStartTime, new { @tabindex = 13, @class = "form-control time", @type = "time", @placeholder = "Scheduler Input StartTime", @title = "Scheduler Input StartTime", @style = "min-width: 100px;", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px;">
                                                    <label>End Date</label>
                                                    @Html.TextBoxFor(m => m.SchedulerInputEndDate, Model.SchedulerInputEndDate.ToString("MM-dd-yyyy"), new { @tabindex = 14, @class = "form-control date", @placeholder = "End Date", @title = "End Date", @style = "min-width: 110px;", @required = true })
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <label>Time</label>
                                                    @Html.TextBoxFor(m => m.SchedulerInputEndTime, new { @tabindex = 15, @class = "form-control time", @type = "time", @placeholder = "Scheduler Input EndTime", @title = "Scheduler Input EndTime", @style = "min-width: 100px;", @required = true })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <label></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.SchedulerInputFrequency, new { @tabindex = 16, @class = "form-control", @placeholder = "Frequency(Mins)", @title = "Frequency(Mins)", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <label></label>
                                                <div class="input-group mg-b-pro-edt">
                                                    <div class="i-checks pull-left">
                                                        <label>
                                                            @Html.CheckBoxFor(m => m.SchedulerInputSet, new { @tabindex = 17, @class = "chkIsSet" }) <i></i> Set
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top:8px">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="margin-bottom:0">Output File</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px;">
                                                    <label>Start Date</label>
                                                    @Html.TextBoxFor(m => m.SchedulerOutputStartDate, Model.SchedulerOutputStartDate.ToString("MM-dd-yyyy"), new { @tabindex = 18, @class = "form-control date", @placeholder = "Start Date", @title = "Start Date", @style = "min-width: 110px;", @required = true })
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <label>Time</label>
                                                    @Html.TextBoxFor(m => m.SchedulerOutputStartTime, new { @tabindex = 19, @class = "form-control time", @type = "time", @placeholder = "Scheduler Output StartTime", @title = "Scheduler Output StartTime", @style = "min-width: 100px;", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px;">
                                                    <label>End Date</label>
                                                    @Html.TextBoxFor(m => m.SchedulerOutputEndDate, Model.SchedulerOutputEndDate.ToString("MM-dd-yyyy"), new { @tabindex = 20, @class = "form-control date", @placeholder = "End Date", @title = "End Date", @style = "min-width: 110px;", @required = true })
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <label>Time</label>
                                                    @Html.TextBoxFor(m => m.SchedulerOutputEndTime, new { @tabindex = 21, @class = "form-control time", @type = "time", @placeholder = "Scheduler Output EndTime", @title = "Scheduler Output EndTime", @style = "min-width: 100px;", @required = true })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <label></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.SchedulerOutputFrequency, new { @tabindex = 22, @class = "form-control", @placeholder = "Frequency(Mins)", @title = "Frequency(Mins)", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <label></label>
                                                <div class="input-group mg-b-pro-edt">
                                                    <div class="i-checks pull-left">
                                                        <label>
                                                            @Html.CheckBoxFor(m => m.SchedulerOutputSet, new { @tabindex = 23, @class = "chkIsSet" }) <i></i> Set
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h4>Static Data</h4>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="margin-bottom:10px">Input File</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="table-responsive" id="divTblInputFile">
                                                <table id="tblInputFile" class="table table-bordered mar-top20 table-striped fileTable">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>File Type</th>
                                                            <th>File Path</th>
                                                            <th>File Name Format</th>
                                                            <th>Set</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.InputFileList != null)
                                                        {
                                                            if (Model.InputFileList.Count > 0)
                                                            {
                                                                recCount = 0;
                                                                foreach (var item in Model.InputFileList)
                                                                {
                                                                    <tr>
                                                                        @if (recCount == 0)
                                                                        {
                                                                            <td>
                                                                                <a href='javascript:void(0);' class='removeRow' title='Delete Row' style="visibility:hidden" tabindex="24"><i class="fa fa-minus-circle text-danger" aria-hidden="true" style="font-size: x-large; cursor: pointer;"></i></a>
                                                                            </td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td>
                                                                                <a href='javascript:void(0);' class='removeRow' title='Delete Row' tabindex="24"><i class="fa fa-minus-circle text-danger" aria-hidden="true" style="font-size: x-large; cursor: pointer;"></i></a>
                                                                            </td>
                                                                        }
                                                                        <td id="tdFileType">
                                                                            @if (item.Set)
                                                                            {
                                                                                @Html.DropDownList("FileTypeId", item.FileTypeList, "Select", new { @tabindex = 25, @class = "form-control drpFileType inputreq", @disabled = true })
                                                                            }
                                                                            else
                                                                            {
                                                                                @Html.DropDownList("FileTypeId", item.FileTypeList, "Select", new { @tabindex = 25, @class = "form-control drpFileType inputreq" })
                                                                            }
                                                                        </td>
                                                                        <td id="tdFilePath">
                                                                            @if (item.Set)
                                                                            {
                                                                                <input type='text' id='FilePath' class="form-control inputreq" value='@item.FilePath' placeholder="File Path" tabindex="26" readonly />
                                                                            }
                                                                            else
                                                                            {
                                                                                <input type='text' id='FilePath' class="form-control inputreq" value='@item.FilePath' placeholder="File Path" tabindex="26" />
                                                                            }
                                                                        </td>
                                                                        <td id="tdFileFormat">
                                                                            @if (item.Set)
                                                                            {
                                                                                <input type='text' id='FileNameFormat' class="form-control inputreq" value='@item.FileNameFormat' placeholder="File Name Format" tabindex="27" readonly />
                                                                            }
                                                                            else
                                                                            {
                                                                                <input type='text' id='FileNameFormat' class="form-control inputreq" value='@item.FileNameFormat' placeholder="File Name Format" tabindex="27" />
                                                                            }
                                                                        </td>
                                                                        <td id="tdChkSet">
                                                                            <div class="i-checks pull-left">
                                                                                <div class='icheckbox_square-green' style='position: relative;'>
                                                                                    @if (item.Set)
                                                                                    {
                                                                                        <input id='IsSet' class="tdchkIsSet" name='IsSet' tabindex='28' type='checkbox' checked>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input id='IsSet' class="tdchkIsSet" name='IsSet' tabindex='28' type='checkbox'>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <a href='javascript:void(0);' class='addFileRow' title='Add Row' tabindex="29"><i class="fa fa-plus-circle text-success" aria-hidden="true" style="font-size: x-large; cursor: pointer"></i></a>
                                                                        </td>
                                                                    </tr>
                                                                                    recCount = recCount + 1;
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <a href='javascript:void(0);' class='removeRow' title='Delete Row' style="visibility:hidden" tabindex="24"><i class="fa fa-minus-circle text-danger" aria-hidden="true" style="font-size: x-large; cursor: pointer;"></i></a>
                                                                </td>
                                                                <td id="tdFileType">
                                                                    @Html.DropDownList("FileTypeId", Model.FileTypeList, "Select", new { @tabindex = 25, @class = "form-control drpFileType inputreq" })
                                                                </td>
                                                                <td id="tdFilePath">
                                                                    <input type='text' id='FilePath' class="form-control inputreq" value='' placeholder="File Path" tabindex="26" />
                                                                </td>
                                                                <td id="tdFileFormat">
                                                                    <input type='text' id='FileNameFormat' class="form-control inputreq" value='' placeholder="File Name Format" tabindex="27" />
                                                                </td>
                                                                <td id="tdChkSet">
                                                                    <div class="i-checks pull-left">
                                                                        <div class='icheckbox_square-green' style='position: relative;'><input id='IsSet' class="tdchkIsSet" name='IsSet' tabindex='28' type='checkbox'></div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <a href='javascript:void(0);' class='addFileRow' title='Add Row' tabindex="29"><i class="fa fa-plus-circle text-success" aria-hidden="true" style="font-size: x-large; cursor: pointer"></i></a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                                @Html.HiddenFor(m => m.strInputFileList)
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="table-responsive" id="divTblInputTable">
                                                <table id="tblInputTable" class="table table-bordered mar-top20 table-striped ioTable">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Table Type</th>
                                                            <th>Table Name</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.InputTableList != null)
                                                        {
                                                            if (Model.InputTableList.Count > 0)
                                                            {
                                                                recCount = 0;
                                                                foreach (var item in Model.InputTableList)
                                                                {
                                                                    <tr>
                                                                        @if (recCount == 0)
                                                                        {
                                                                            <td>
                                                                                <a href='javascript:void(0);' class='removeRow' title='Delete Row' style="visibility:hidden" tabindex="30"><i class="fa fa-minus-circle text-danger" aria-hidden="true" style="font-size: x-large; cursor: pointer;"></i></a>
                                                                            </td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td>
                                                                                <a href='javascript:void(0);' class='removeRow' title='Delete Row' tabindex="30"><i class="fa fa-minus-circle text-danger" aria-hidden="true" style="font-size: x-large; cursor: pointer;"></i></a>
                                                                            </td>
                                                                        }
                                                                        <td id="tdTableType">
                                                                            @Html.DropDownList("TableTypeId1", item.IOTableTypeList, "Select", new { @tabindex = 31, @class = "form-control drpTableType inputreq" })
                                                                        </td>
                                                                        <td id="tdTableName">
                                                                            <input type='text' id='TableName' class="form-control inputreq" value='@item.TableName' placeholder="Table Name" tabindex="32" />
                                                                        </td>
                                                                        <td>
                                                                            <a href='javascript:void(0);' class='addTableRow' title='Add Row' tabindex="33"><i class="fa fa-plus-circle text-success" aria-hidden="true" style="font-size: x-large; cursor: pointer"></i></a>
                                                                        </td>
                                                                    </tr>
                                                                        recCount = recCount + 1;
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <a href='javascript:void(0);' class='removeRow' title='Delete Row' style="visibility:hidden" tabindex="30"><i class="fa fa-minus-circle text-danger" aria-hidden="true" style="font-size: x-large; cursor: pointer;"></i></a>
                                                                </td>
                                                                <td id="tdTableType">
                                                                    @Html.DropDownList("TableTypeId", Model.TableTypeList, "Select", new { @tabindex = 31, @class = "form-control drpTableType inputreq" })
                                                                </td>
                                                                <td id="tdTableName">
                                                                    <input type='text' id='TableName' class="form-control inputreq" value='' placeholder="Table Name" tabindex="32" />
                                                                </td>
                                                                <td>
                                                                    <a href='javascript:void(0);' class='addTableRow' title='Add Row' tabindex="33"><i class="fa fa-plus-circle text-success" aria-hidden="true" style="font-size: x-large; cursor: pointer"></i></a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                                @Html.HiddenFor(m => m.strInputTableList)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="margin-bottom:10px">Output File</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="table-responsive" id="divTblOutputFile">
                                                <table id="tblOutputFile" class="table table-bordered mar-top20 table-striped fileTable">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>File Type</th>
                                                            <th>File Path</th>
                                                            <th>File Name Format</th>
                                                            <th>Set</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.OutputFileList != null)
                                                        {
                                                            if (Model.OutputFileList.Count > 0)
                                                            {
                                                                recCount = 0;
                                                                foreach (var item in Model.OutputFileList)
                                                                {
                                                                    <tr>
                                                                        @if (recCount == 0)
                                                                        {
                                                                            <td>
                                                                                <a href='javascript:void(0);' class='removeRow' title='Delete Row' style="visibility:hidden" tabindex="34"><i class="fa fa-minus-circle text-danger removeSubTypeRow" aria-hidden="true" style="font-size: x-large; cursor: pointer;"></i></a>
                                                                            </td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td>
                                                                                <a href='javascript:void(0);' class='removeRow' title='Delete Row' tabindex="34"><i class="fa fa-minus-circle text-danger removeSubTypeRow" aria-hidden="true" style="font-size: x-large; cursor: pointer;"></i></a>
                                                                            </td>
                                                                        }
                                                                        <td id="tdFileType">
                                                                            @if (item.Set)
                                                                            {
                                                                                @Html.DropDownList("FileTypeId", item.FileTypeList, "Select", new { @tabindex = 35, @class = "form-control drpFileType inputreq", @readonly = true })
                                                                            }
                                                                            else
                                                                            {
                                                                                @Html.DropDownList("FileTypeId", item.FileTypeList, "Select", new { @tabindex = 35, @class = "form-control drpFileType inputreq" })
                                                                            }
                                                                        </td>
                                                                        <td id="tdFilePath">
                                                                            @if (item.Set)
                                                                            {
                                                                                <input type='text' id='FilePath' class="form-control inputreq" value='@item.FilePath' placeholder="File Path" tabindex="36" readonly />
                                                                            }
                                                                            else
                                                                            {
                                                                                <input type='text' id='FilePath' class="form-control inputreq" value='@item.FilePath' placeholder="File Path" tabindex="36" />
                                                                            }
                                                                        </td>
                                                                        <td id="tdFileFormat">
                                                                            @if (item.Set)
                                                                            {
                                                                                <input type='text' id='FileNameFormat' class="form-control inputreq" value='@item.FileNameFormat' placeholder="File Name Format" tabindex="37" readonly />
                                                                            }
                                                                            else
                                                                            {
                                                                                <input type='text' id='FileNameFormat' class="form-control inputreq" value='@item.FileNameFormat' placeholder="File Name Format" tabindex="37" />
                                                                            }
                                                                        </td>
                                                                        <td id="tdChkSet">
                                                                            <div class="i-checks pull-left">
                                                                                <div class='icheckbox_square-green' style='position: relative;'>
                                                                                    @if (item.Set)
                                                                                    {
                                                                                        <input id='IsSet' class="tdchkIsSet" name='IsSet' tabindex='38' type='checkbox' checked>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input id='IsSet' class="tdchkIsSet" name='IsSet' tabindex='38' type='checkbox'>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <a href='javascript:void(0);' class='addFileRow' title='Add Row' tabindex="39"><i class="fa fa-plus-circle text-success addSubTypeRow" aria-hidden="true" style="font-size: x-large; cursor: pointer"></i></a>
                                                                        </td>
                                                                    </tr>
                                                                                    recCount = recCount + 1;
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <a href='javascript:void(0);' class='removeRow' title='Delete Row' style="visibility:hidden" tabindex="34"><i class="fa fa-minus-circle text-danger removeSubTypeRow" aria-hidden="true" style="font-size: x-large; cursor: pointer;"></i></a>
                                                                </td>
                                                                <td id="tdFileType">
                                                                    @Html.DropDownList("FileTypeId", Model.FileTypeList, "Select", new { @tabindex = 35, @class = "form-control drpFileType inputreq" })
                                                                </td>
                                                                <td id="tdFilePath">
                                                                    <input type='text' id='FilePath' class="form-control inputreq" value='' placeholder="File Path" tabindex="36" />
                                                                </td>
                                                                <td id="tdFileFormat">
                                                                    <input type='text' id='FileNameFormat' class="form-control inputreq" value='' placeholder="File Name Format" tabindex="37" />
                                                                </td>
                                                                <td id="tdChkSet">
                                                                    <div class="i-checks pull-left">
                                                                        <div class='icheckbox_square-green' style='position: relative;'><input id='IsSet' class="tdchkIsSet" name='IsSet' tabindex='38' type='checkbox'></div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <a href='javascript:void(0);' class='addFileRow' title='Add Row' tabindex="39"><i class="fa fa-plus-circle text-success addSubTypeRow" aria-hidden="true" style="font-size: x-large; cursor: pointer"></i></a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                                @Html.HiddenFor(m => m.strOutputFileList)
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="table-responsive" id="divTblOutputTable">
                                                <table id="tblOutputTable" class="table table-bordered mar-top20 table-striped ioTable">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Table Type</th>
                                                            <th>Table Name</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.OutputTableList != null)
                                                        {
                                                            if (Model.OutputTableList.Count > 0)
                                                            {
                                                                recCount = 0;
                                                                foreach (var item in Model.OutputTableList)
                                                                {
                                                                    <tr>
                                                                        @if (recCount == 0)
                                                                        {
                                                                            <td>
                                                                                <a href='javascript:void(0);' class='removeRow' title='Delete Row' style="visibility:hidden" tabindex="40"><i class="fa fa-minus-circle text-danger removeSubTypeRow" aria-hidden="true" style="font-size: x-large; cursor: pointer;"></i></a>
                                                                            </td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td>
                                                                                <a href='javascript:void(0);' class='removeRow' title='Delete Row' tabindex="40"><i class="fa fa-minus-circle text-danger removeSubTypeRow" aria-hidden="true" style="font-size: x-large; cursor: pointer;"></i></a>
                                                                            </td>
                                                                        }
                                                                        <td id="tdTableType">
                                                                            @Html.DropDownList("TableTypeId2", item.IOTableTypeList, "Select", new { @tabindex = 41, @class = "form-control drpTableType inputreq" })
                                                                        </td>
                                                                        <td id="tdTableName">
                                                                            <input type='text' id='TableName' class="form-control inputreq" value='@item.TableName' placeholder="Table Name" tabindex="42" />
                                                                        </td>
                                                                        <td>
                                                                            <a href='javascript:void(0);' class='addTableRow' title='Add Row' tabindex="43"><i class="fa fa-plus-circle text-success addSubTypeRow" aria-hidden="true" style="font-size: x-large; cursor: pointer"></i></a>
                                                                        </td>
                                                                    </tr>
                                                                        recCount = recCount + 1;
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <a href='javascript:void(0);' class='removeRow' title='Delete Row' style="visibility:hidden" tabindex="40"><i class="fa fa-minus-circle text-danger removeSubTypeRow" aria-hidden="true" style="font-size: x-large; cursor: pointer;"></i></a>
                                                                </td>
                                                                <td id="tdTableType">
                                                                    @Html.DropDownList("TableTypeId", Model.TableTypeList, "Select", new { @tabindex = 41, @class = "form-control drpTableType inputreq" })
                                                                </td>
                                                                <td id="tdTableName">
                                                                    <input type='text' id='TableName' class="form-control inputreq" value='' placeholder="Table Name" tabindex="42" />
                                                                </td>
                                                                <td>
                                                                    <a href='javascript:void(0);' class='addTableRow' title='Add Row' tabindex="43"><i class="fa fa-plus-circle text-success addSubTypeRow" aria-hidden="true" style="font-size: x-large; cursor: pointer"></i></a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                                @Html.HiddenFor(m => m.strOutputTableList)
                                            </div>
                                        </div>
                                    </div>

                                    <div id="divFileTypeSelect" style="display:none">
                                        @Html.DropDownList("HdnFileTypeId", Model.FileTypeList, "Select", new { @class = "form-control pro-edt-select form-control-primary drpFileType inputreqerror", @id = "FileTypeId", @style = "cursor:pointer" })
                                    </div>
                                    <div id="divTableTypeSelect" style="display:none">
                                        @Html.DropDownList("HdnTableTypeId", Model.TableTypeList, "Select", new { @class = "form-control pro-edt-select form-control-primary drpTableType inputreqerror", @id = "TableTypeId", @style = "cursor:pointer" })
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                @if (Model.ConfigurationId > 0)
                                                {
                                                    <button id="btnSubmit" type="submit" class="btn btn-primary" tabindex="44">Update</button>
                                                }
                                                else
                                                {
                                                    <button id="btnSubmit" type="submit" class="btn btn-primary" tabindex="44">Submit</button>
                                                }

                                                <a href="/Configuration/Index" class="btn btn-warning waves-effect waves-light" tabindex="45"> Discard </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $(".menuitem li a.active").removeClass("active");
        $("#master-menu a").attr("aria-expanded", "true");
        $("#master-menu ul").addClass('in');
        $(".menuitem a#aConfiguration").addClass('active');

        $(".date").datepicker({
            'format': 'dd-mm-yyyy',
            'autoclose': true,
        });

        $(document).on("change", "#frmConfiguration select", function () {
            $('input[name=' + $(this).attr("id") + '').val($(this).val());
        });

        if ($('#InputFileSet').prop("checked")) {
            $('#InputFileSet').parents('.row').first().find('input:not(:button)').attr('readonly', true);
            $('#InputFileSet').parents('.row').first().find('select').select2({ disabled: 'readonly' });
            $('#InputFileSet').parents('.row').first().find('.chkIsSet').attr('readonly', false);
        }
        if ($('#OutputFileSet').prop("checked")) {
            $('#OutputFileSet').parents('.row').first().find('input:not(:button)').attr('readonly', true);
            $('#OutputFileSet').parents('.row').first().find('select').select2({ disabled: 'readonly' });
            $('#OutputFileSet').parents('.row').first().find('.chkIsSet').attr('readonly', false);
        }
        if ($('#SchedulerInputSet').prop("checked")) {
            $('#SchedulerInputSet').parents('.row').first().find('input:not(:button)').attr('readonly', true);
            $('#SchedulerInputSet').parents('.row').first().find('select').select2({ disabled: 'readonly' });
            $('#SchedulerInputSet').parents('.row').first().find('.chkIsSet').attr('readonly', false);
        }
        if ($('#SchedulerOutputSet').prop("checked")) {
            $('#SchedulerOutputSet').parents('.row').first().find('input:not(:button)').attr('readonly', true);
            $('#SchedulerOutputSet').parents('.row').first().find('select').select2({ disabled: 'readonly' });
            $('#SchedulerOutputSet').parents('.row').first().find('.chkIsSet').attr('readonly', false);
        }


        $(document).on("ifChanged", ".chkIsSet", function () {
            if ($(this).prop("checked")) {
                $(this).parents('.row').first().find('input:not(:button)').attr('readonly', true);
                $(this).parents('.row').first().find('select').select2({ disabled: 'readonly' });
                $(this).parents('.row').first().find('.chkIsSet').attr('readonly', false);
            }
            else {
                $(this).parents('.row').first().find('input:not(:button)').attr('readonly', false);
                $(this).parents('.row').first().find('select').select2({ disabled: '' });
            }
        });

        $(document).on("ifChanged", ".tdchkIsSet", function () {
            if ($(this).prop("checked")) {
                $(this).parents('tr').first().find('input:not(:button)').attr('readonly', true);
                $(this).parents('tr').first().find('select').select2({ disabled: 'readonly' });
                $(this).parents('tr').first().find('.chkIsSet').attr('readonly', false);
            }
            else {
                $(this).parents('tr').first().find('input:not(:button)').attr('readonly', false);
                $(this).parents('tr').first().find('select').select2({ disabled: '' });
            }
        });

        $(document).on("click", "#btnSubmit", function () {
            assignTablesToJsonString();
        });

        function assignTablesToJsonString() {
            var inputFileList = new Array();
            $("#divTblInputFile table tbody tr").each(function (i) {
                var tds = $(this).find("td:visible");
                if ($(tds[1]).find(".drpFileType").val() != '' && $(tds[2]).find("#FilePath").val() != '' && $(tds[3]).find("#FileNameFormat").val() != '') {
                    var inpFile = { FileTypeId: $(tds[1]).find(".drpFileType").val(), FilePath: $(tds[2]).find("#FilePath").val(), FileNameFormat: $(tds[3]).find("#FileNameFormat").val(), Set: $(tds[4]).find("#IsSet").prop("checked"), IsInput: true };
                    inputFileList.push(inpFile);
                }
            });
            $('#strInputFileList ').val(JSON.stringify(inputFileList));

            var inputTableList = new Array();
            $("#divTblInputTable table tbody tr").each(function (i) {
                var tds = $(this).find("td:visible");
                if ($(tds[1]).find(".drpTableType").val() != '' && $(tds[2]).find("#TableName").val() != '') {
                    var inpTable = { TableTypeId: $(tds[1]).find(".drpTableType").val(), TableName: $(tds[2]).find("#TableName").val(), IsInput: true };
                    inputTableList.push(inpTable);
                }
            });
            $('#strInputTableList ').val(JSON.stringify(inputTableList));

            var outputFileList = new Array();
            $("#divTblOutputFile table tbody tr").each(function (i) {
                var tds = $(this).find("td:visible");
                if ($(tds[1]).find(".drpFileType").val() != '' && $(tds[2]).find("#FilePath").val() != '' && $(tds[3]).find("#FileNameFormat").val() != '') {
                    var outFile = { FileTypeId: $(tds[1]).find(".drpFileType").val(), FilePath: $(tds[2]).find("#FilePath").val(), FileNameFormat: $(tds[3]).find("#FileNameFormat").val(), Set: $(tds[4]).find("#IsSet").prop("checked"), IsInput: false };
                    outputFileList.push(outFile);
                }
            });
            $('#strOutputFileList ').val(JSON.stringify(outputFileList));

            var outputTableList = new Array();
            $("#divTblOutputTable table tbody tr").each(function (i) {
                var tds = $(this).find("td:visible");
                if ($(tds[1]).find(".drpTableType").val() != '' && $(tds[2]).find("#TableName").val() != '') {
                    var outTable = { TableTypeId: $(tds[1]).find(".drpTableType").val(), TableName: $(tds[2]).find("#TableName").val(), IsInput: false };
                    outputTableList.push(outTable);
                }
            });
            $('#strOutputTableList ').val(JSON.stringify(outputTableList));

        }

        if ($("#ConfigurationId").val() == 0) {
            var now = new Date(Date.now());
            var formatted = now.getHours() + ":" + now.getMinutes();
            $('#SchedulerInputStartTime').val(formatted);
            $('#SchedulerInputEndTime').val(formatted);
            $('#SchedulerOutputStartTime').val(formatted);
            $('#SchedulerOutputEndTime').val(formatted);
        }

        $(document).on('keypress click', '.removeRow', function () {
            var tbl_row = $(this).closest('tr');
            tbl_row.remove();
        });

        $(document).on('keypress click', '.addFileRow', function () {
            var control = $(this);
            var empty = false;
            var input = $(control).parents("table.fileTable>tbody>tr").find('input[type="text"]');
            input.each(function () {
                if ((!$(this).val() || $(this).val() == 0) && $(this).hasClass("inputreq")) {
                    $(this).addClass("inputreqerror");
                    empty = true;
                } else {
                    $(this).removeClass("inputreqerror");
                }
            });
            var select = $(control).parents("table.fileTable>tbody>tr").find('select');
            select.each(function () {
                if (!$(this).val()) {
                    $(this).addClass("inputreqerror");
                    empty = true;
                } else {
                    $(this).removeClass("inputreqerror");
                }
            });

            if (!empty) {
                var fileTypeDrop = $("#divFileTypeSelect").html();

                var row = "<tr>";
                row = row + "<td><a href='javascript:void(0);' class='removeRow' title='Delete Row'><i class='fa fa-minus-circle text-danger' aria-hidden='true' style='font-size: x-large;cursor: pointer;'></i></a></td>";
                row = row + "<td id='tdFileType'>" + fileTypeDrop + "</td>";
                row = row + "<td id='tdFilePath'><input type='text' id='FilePath' class='form-control inputreq' value='' placeholder='File Path' /></td>";
                row = row + "<td id='tdFileFormat'><input type='text' id='FileNameFormat' class='form-control inputreq' value='' placeholder='File Name Format' /></td>";
                row = row + "<td id='tdChkSet'><div class='i-checks pull-left'><div class='icheckbox_square-green' style='position: relative;'><input id='IsSet1' class='tdchkIsSet' name='IsSet' type='checkbox'></div></div></td>";
                row = row + "<td><a href='javascript:void(0);' class='addFileRow' title='Add Row'><i class='fa fa-plus-circle text-success' aria-hidden='true' style='font-size: x-large; cursor: pointer'></i></a></td>";
                row = row + "</tr>";

                $(control).parents("table.fileTable>tbody").append(row);

                $.getScript('/Content/Theme/js/icheck/icheck.min.js');
                $.getScript('/Content/Theme/js/icheck/icheck-active.js');
            }
        });

        $(document).on('keypress click', '.addTableRow', function () {
            var control = $(this);
            var empty = false;
            var input = $(control).parents("table.ioTable>tbody>tr").find('input[type="text"]');
            input.each(function () {
                if ((!$(this).val() || $(this).val() == 0) && $(this).hasClass("inputreq")) {
                    $(this).addClass("inputreqerror");
                    empty = true;
                } else {
                    $(this).removeClass("inputreqerror");
                }
            });
            var select = $(control).parents("table.ioTable>tbody>tr").find('select');
            select.each(function () {
                if (!$(this).val()) {
                    $(this).addClass("inputreqerror");
                    empty = true;
                } else {
                    $(this).removeClass("inputreqerror");
                }
            });

            if (!empty) {
                var tableTypeDrop = $("#divTableTypeSelect").html();

                var row = "<tr>";
                row = row + "<td><a href='javascript:void(0);' class='removeRow' title='Delete Row'><i class='fa fa-minus-circle text-danger' aria-hidden='true' style='font-size: x-large;cursor: pointer;'></i></a></td>";
                row = row + "<td id='tdTableType'>" + tableTypeDrop + "</td>";
                row = row + "<td id='tdTableName'><input type='text' id='TableName' class='form-control inputreq' value='' placeholder='Table Name'/></td>";
                row = row + "<td><a href='javascript:void(0);' class='addTableRow' title='Add Row'><i class='fa fa-plus-circle text-success' aria-hidden='true' style='font-size: x-large; cursor: pointer'></i></a></td>";
                row = row + "</tr>";

                $(control).parents("table.ioTable>tbody").append(row);
            }
        });

        //To bind the module dropdown based on the project selection
        $(document).on("change", "#ProjectId", function () {
            var control = $(this);
            if ($(control).val() > 0) {
                $.ajax({
                    type: 'post',
                    url: "../TestCaseBuildDev/GetModulesByProjectId",
                    data: {
                        projectId: $(control).val()
                    },
                    async: false,
                    success: function (data, item) {
                        $("#ModuleId").empty();
                        $("#ModuleId").append('<option value="">Select Module</option>');
                        $("#select2-ModuleId-container").text("Select Module");
                        $.each(data.data, function (key, value) {
                            $("#ModuleId").append('<option value="' + key + '">' + value + '</option>');
                        });
                        $("#TestCaseBuildId").empty();
                        $("#TestCaseBuildId").append('<option value="">Select TestCase Build</option>');
                        $("#TestCaseBuildId").val('');
                        $("#select2-TestCaseBuildId-container").text("Select TestCase Build");
                    },
                    cache: false,
                    error: function (e) {
                        if (e.status == 401) {
                            window.location.href = "../Login/UserLogin";
                        } else {
                            alert(e.responseText);
                        }
                    }
                });
            }
            else {
                $("#ModuleId").empty();
                $("#ModuleId").append('<option value="">Select Module</option>');
                $("#select2-ModuleId-container").text("Select Module"); 
                $("#TestCaseBuildId").empty();
                $("#TestCaseBuildId").append('<option value="">Select TestCase Build</option>');
                $("#TestCaseBuildId").val('');
                $("#select2-TestCaseBuildId-container").text("Select TestCase Build");
            }
        });

        //To bind the test case build dropdown based on the module selection
        $(document).on("change", "#ModuleId", function () {
            var control = $(this);

            var projId = 0;
            if ($(control).attr("id") == "ModuleId") {
                projId = $("#ProjectId").val();
            }

            if ($(control).val() > 0) {
                $.ajax({
                    type: 'post',
                    url: "../TestCaseBuildDev/GetTestCaseBuildByFilter",
                    data: {
                        projectId: projId,
                        moduleId: $(control).val(),
                    },
                    async: false,
                    success: function (data, item) {
                        if ($(control).attr("id") == "ModuleId") {
                            $('input[name=' + $(control).attr("id") + '').val($(control).val());
                            $("#TestCaseBuildId").empty();
                            $("#TestCaseBuildId").append('<option value="">Select TestCase Build</option>');
                            $("#select2-TestCaseBuildId-container").text("Select TestCase Build");
                            $.each(data.data, function (key, value) {
                                $("#TestCaseBuildId").append('<option value="' + key + '">' + value + '</option>');
                            });
                        }
                    },
                    cache: false,
                    error: function (e) {
                        if (e.status == 401) {
                            window.location.href = "../Login/UserLogin";
                        } else {
                            alert(e.responseText);
                        }
                    }
                });
            }
            else {
                if ($(control).attr("id") == "ModuleId") {
                    $("#TestCaseBuildId").empty();
                    $("#TestCaseBuildId").append('<option value="">Select TestCase Build</option>');
                    $("#TestCaseBuildId").val('');
                    $("#select2-TestCaseBuildId-container").text("Select TestCase Build");
                }
            }
        });

    });

</script>


