﻿@using NetRachisCore.Helpers
@model NetRachisCore.Models.BusinessObjects.FileTypes
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    <title>@ViewBag.Title</title> 
}
<div class="single-product-tab-area pd-tb-15">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            @if (Model.FileTypeId > 0)
                            {
                                <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> FileType Edit</a></li>
                            }
                            else
                            {
                                <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> FileType Create</a></li>
                            }
                        </ul>
                        @using (Html.BeginForm(Actions.AddEdit, Controllers.FileTypes, FormMethod.Post, new { id = "frmFileType" }))
                        {
                            @Html.HiddenFor(m => m.FileTypeId)
                            
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description"> 
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-edit" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.FileTypeName, new { @tabindex = 1, @class = "form-control", @placeholder = "File Type", @required = true, @title = "File Type" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.Description, new { @tabindex = 2, @class = "form-control", @placeholder = "Description", @title = "Description" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10" tabindex="3">
                                                    Save
                                                </button>
                                                <a href="/FileTypes/Index" class="btn btn-warning waves-effect waves-light" tabindex="4"> Discard </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".menuitem li a.active").removeClass("active");
        $("#static-menu a").attr("aria-expanded", "true");
        $("#static-menu ul").addClass('in');
        $(".menuitem a#aFileTypes").addClass('active');
    });
</script>
 
