﻿@using NetRachisCore.Helpers
@model NetRachisCore.Models.BusinessObjects.TradeBookingConfig
@{
    <title>@ViewBag.Title</title>
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="single-product-tab-area pd-tb-15">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            @if (Model.TradeBookingConfigId > 0)
                            {
                                <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Trade Booking Config Edit</a></li>
                            }
                            else
                            {
                                <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Trade Booking Config Create</a></li>
                            }
                        </ul>
                        @using (Html.BeginForm(Actions.AddEdit, Controllers.TradeBookingConfig, FormMethod.Post, new { id = "frmTradeBookingConfig", enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(m => m.TradeBookingConfigId)
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-edit" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.ProjectId, Model.ProjectList, "Select Project", new { @tabindex = 1, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                    @Html.HiddenFor(m => m.ProjectId)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-edit" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.ModuleId, Model.ModuleList, "Select Module", new { @tabindex = 2, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                    @Html.HiddenFor(m => m.ModuleId)
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.TestCaseBuildId, Model.TestCaseBuildList, "Select TestCaseBuild", new { @tabindex = 3, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                    @Html.HiddenFor(m => m.TestCaseBuildId)
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h4>Scheduler</h4>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <label>Date</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.SchedulerDate, Model.SchedulerDate.ToString("dd-MM-yyyy"), new { @tabindex = 4, @class = "form-control date", @placeholder = "Scheduler Date", @title = "Scheduler Date", @style = "min-width: 110px;", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <label>Time</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.SchedulerTime, new { @tabindex = 5, @class = "form-control time", @type = "time", @placeholder = "Scheduler Time", @title = "Scheduler Time", @style = "min-width: 100px;", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <label>Frequency(Mins)</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.SchedulerFrequency, new { @tabindex = 6, @class = "form-control", @placeholder = "Frequency(Mins)", @title = "Frequency(Mins)", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <label></label>
                                                <div class="input-group mg-b-pro-edt">
                                                    <div class="i-checks pull-left">
                                                        <label>
                                                            @Html.CheckBoxFor(m => m.SchedulerSet, new { @tabindex = 7, @class = "chkIsSet" }) <i></i> Set
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h4>Trade Details</h4>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <label>Trade Input Path</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.TradeInputPath, new { @tabindex = 8, @class = "form-control", @placeholder = "Trade Input Path", @title = "Trade Input Path", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <label>File Name Format</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.FileNameFormat, new { @tabindex = 9, @class = "form-control", @placeholder = "File Format", @title = "File Format", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <label>Target System</label>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-edit" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.TargetSystemId, Model.TargetSystemList, "Select Target System", new { @tabindex = 10, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                    @Html.HiddenFor(m => m.TargetSystemId)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <label></label>
                                                <div class="input-group mg-b-pro-edt">
                                                    <div class="i-checks pull-left">
                                                        <label>
                                                            @Html.CheckBoxFor(m => m.TradeInputSet, new { @tabindex = 11, @class = "chkIsSet" }) <i></i> Set
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h4>Command Details</h4>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <label>Command Type</label>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-edit" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.CommandTypeId, Model.CommandTypeList, "Select Command Type", new { @tabindex = 12, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                    @Html.HiddenFor(m => m.CommandTypeId)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <label>Command Line</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.CommandLine, new { @tabindex = 13, @class = "form-control", @placeholder = "Command Line", @title = "Command Line", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <label>Additional Info</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-database" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.AdditionalInfo, new { @tabindex = 14, @class = "form-control", @placeholder = "Additional Info", @title = "Additional Info" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <label>Target Path</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.TargetPath, new { @tabindex = 15, @class = "form-control", @placeholder = "Target Path", @title = "Target Path" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <div class="i-checks pull-left">
                                                        <label>
                                                            @Html.CheckBoxFor(m => m.CommandSet, new { @tabindex = 16, @class = "chkIsSet" }) <i></i> Set
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                @if (Model.TradeBookingConfigId > 0)
                                                {
                                                    <button id="btnSubmit" type="submit" class="btn btn-primary" tabindex="17">Update</button>
                                                }
                                                else
                                                {
                                                    <button id="btnSubmit" type="submit" class="btn btn-primary" tabindex="17">Submit</button>
                                                }
                                                <a href="/TradeBookingConfig/Index" class="btn btn-warning waves-effect waves-light" tabindex="18"> Discard </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $(".menuitem li a.active").removeClass("active");
        $("#master-menu a").attr("aria-expanded", "true");
        $("#master-menu ul").addClass('in');
        $(".menuitem a#aTradeBookingConfig").addClass('active');

        $(".date").datepicker({
            'format': 'dd-mm-yyyy',
            'autoclose': true,
        });

        $(document).on("change", "#frmTradeBookingConfig select", function () {
            $('input[name=' + $(this).attr("id") + '').val($(this).val());
        });

        if ($('#SchedulerSet').prop("checked")) {
            $('#SchedulerSet').parents('.row').first().find('input:not(:button)').attr('readonly', true);
            $('#SchedulerSet').parents('.row').first().find('select').select2({ disabled: 'readonly' });
            $('#SchedulerSet').parents('.row').first().find('.chkIsSet').attr('readonly', false);
        }
        if ($('#TradeInputSet').prop("checked")) {
            $('#TradeInputSet').parents('.row').first().find('input:not(:button)').attr('readonly', true);
            $('#TradeInputSet').parents('.row').first().find('select').select2({ disabled: 'readonly' });
            $('#TradeInputSet').parents('.row').first().find('.chkIsSet').attr('readonly', false);
        }
        if ($('#CommandSet').prop("checked")) {
            $('#CommandSet').parents('.row').first().find('input:not(:button)').attr('readonly', true);
            $('#CommandSet').parents('.row').first().find('select').select2({ disabled: 'readonly' });
            $('#CommandSet').parents('.row').first().find('.chkIsSet').attr('readonly', false);
        }

        $(document).on("ifChanged", ".chkIsSet", function () {
            if ($(this).prop("checked")) {
                $(this).parents('.row').first().find('input:not(:button)').attr('readonly', true);
                $(this).parents('.row').first().find('select').select2({ disabled: 'readonly' });
                $(this).parents('.row').first().find('.chkIsSet').attr('readonly', false);
            }
            else {
                $(this).parents('.row').first().find('input:not(:button)').attr('readonly', false);
                $(this).parents('.row').first().find('select').select2({ disabled: '' });
            }
        });

        if ($("#TradeBookingConfigId").val() == 0) {
            var now = new Date(Date.now());
            var formatted = now.getHours() + ":" + now.getMinutes();
            $('#SchedulerTime').val(formatted);
        }

        //To bind the module dropdown based on the project selection
        $(document).on("change", "#ProjectId", function () {
            var control = $(this);
            if ($(control).val() > 0) {
                $.ajax({
                    type: 'post',
                    url: "../TradeBookingConfig/GetModulesByProjectId",
                    data: {
                        projectId: $(control).val()
                    },
                    async: false,
                    success: function (data, item) { 
                            $('input[name=' + $(control).attr("id") + '').val($(control).val());
                            $("#ModuleId").empty();
                            $("#ModuleId").append('<option value="">Select Module</option>');
                            $("#select2-ModuleId-container").text("Select Module");
                            $.each(data.data, function (key, value) {
                                $("#ModuleId").append('<option value="' + key + '">' + value + '</option>');
                            });
                            $("#TestCaseBuildId").empty();
                            $("#TestCaseBuildId").append('<option value="">Select TestCase Build</option>');
                            $("#TestCaseBuildId").val('');
                            $("#select2-TestCaseBuildId-container").text("Select TestCase Build"); 
                    },
                    cache: false,
                    error: function (e) {
                        if (e.status == 401) {
                            window.location.href = "../Login/UserLogin";
                        } else {
                            alert(e.responseText);
                        }
                    }
                });
            }
            else { 
                    $("#ModuleId").empty();
                    $("#ModuleId").append('<option value="">Select Module</option>');
                    $("#ModuleId").val('');
                    $("#select2-ModuleId-container").text("Select Module");
                    $("#TestCaseBuildId").empty();
                    $("#TestCaseBuildId").append('<option value="">Select TestCase Build</option>');
                    $("#TestCaseBuildId").val('');
                    $("#select2-TestCaseBuildId-container").text("Select TestCase Build");
            }
        });


        //To bind the test case build dropdown based on the module selection
        $(document).on("change", "#ModuleId", function () {
            var control = $(this);

            var projId = 0;
            if ($(control).attr("id") == "ModuleId") {
                projId = $("#ProjectId").val();
            }

            if ($(control).val() > 0) {
                $.ajax({
                    type: 'post',
                    url: "../TradeBookingConfig/GetTestCaseBuildByFilter",
                    data: {
                        projectId: projId,
                        moduleId: $(control).val(),
                    },
                    async: false,
                    success: function (data, item) {
                        if ($(control).attr("id") == "ModuleId") {
                            $('input[name=' + $(control).attr("id") + '').val($(control).val());
                            $("#TestCaseBuildId").empty();
                            $("#TestCaseBuildId").append('<option value="">Select TestCase Build</option>');
                            $("#select2-TestCaseBuildId-container").text("Select TestCase Build");
                            $.each(data.data, function (key, value) {
                                $("#TestCaseBuildId").append('<option value="' + key + '">' + value + '</option>');
                            });
                        }
                    },
                    cache: false,
                    error: function (e) {
                        if (e.status == 401) {
                            window.location.href = "../Login/UserLogin";
                        } else {
                            alert(e.responseText);
                        }
                    }
                });
            }
            else {
                if ($(control).attr("id") == "ModuleId") {
                    $("#TestCaseBuildId").empty();
                    $("#TestCaseBuildId").append('<option value="">Select TestCase Build</option>');
                    $("#TestCaseBuildId").val('');
                    $("#select2-TestCaseBuildId-container").text("Select TestCase Build");
                }
            }
        });
    });

</script>


