﻿@model List<NetRachisCore.Models.BusinessObjects.TestCaseBuildDevChild>
@{
    Layout = null;
    var recCount = 1;
}

@if (Model != null)
{
    if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                @if (recCount == 1)
                {
                    <td class="text-right childtd tdwidth20"><i class="fa fa-minus-circle text-danger removeTestCaseRow" aria-hidden="true" style="font-size: x-large;cursor: pointer;visibility:hidden"></i></td>
                }
                else
                {
                    <td class="text-right childtd tdwidth20"><i class="fa fa-minus-circle text-danger removeTestCaseRow" aria-hidden="true" style="font-size: x-large;cursor: pointer;"></i></td>
                }
                <td class="childtd tdwidth110">
                    <div class="review-content-section">
                        <div class="mg-b-pro-edt" style="text-align:center;">
                            @recCount
                        </div>
                    </div>
                </td>
                <td class="childtd tdwidth110">
                    <div class="review-content-section">
                        <div class="mg-b-pro-edt">
                            @Html.DropDownList("TestCaseType", item.TestCaseTypeList, "Select Type", new { @tabindex = 4, @class = "form-control pro-edt-select form-control-primary drpType inputreq", @style = "cursor:pointer;" })
                        </div>
                    </div>
                </td>
                <td class="childtd tdwidth80">
                    <div class="review-content-section">
                        <div class="mg-b-pro-edt">
                            @Html.DropDownList("TableId", item.TableList, "Select", new { @tabindex = 4, @class = "form-control pro-edt-select form-control-primary drpTable inputreq", @style = "cursor:pointer;" })
                        </div>
                    </div>
                </td>
                <td class="childtd tdwidth80">
                    <div class="review-content-section">
                        <div class="mg-b-pro-edt">
                            @Html.DropDownList("ColumnId", item.ColumnList, "Select", new { @tabindex = 4, @class = "form-control pro-edt-select form-control-primary drpColumn inputreq", @style = "cursor:pointer;" })
                        </div>
                    </div>
                </td>
                <td class="childtd tdwidth80">
                    <div class="review-content-section">
                        <div class="mg-b-pro-edt">
                            @Html.DropDownList("TargetTableId", item.TargetTableList, "Select", new { @tabindex = 4, @class = "form-control pro-edt-select form-control-primary drpTable drpTargetTable inputreq", @style = "cursor:pointer;" })
                        </div>
                    </div>
                </td>
                <td class="childtd tdwidth80">
                    <div class="review-content-section">
                        <div class="mg-b-pro-edt">
                            @Html.DropDownList("TargetColumnId", item.TargetColumnList, "Select", new { @tabindex = 4, @class = "form-control pro-edt-select form-control-primary drpColumn drpTargetColumn inputreq", @style = "cursor:pointer;" })
                        </div>
                    </div>
                </td>
                <td class="childtd tdwidth80" style="vertical-align: baseline;">
                    <div class="review-content-section">
                        <div class="mg-b-pro-edt">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding:0;">
                                <input type="text" id="txtValue" class="form-control txtValue inputreq" placeholder="Value/ Match" title="Value/ Match" value="@item.MatchCondition">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding:0;text-align:right;">
                                <a href="#" data-id="@recCount" data-toggle="modal" title="Formula Builder" class="pd-setting-ed mg-t exprpop" data-target="#exprModal"><i aria-hidden="true">...</i></a>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="childtd tdwidth20"><i class="fa fa-plus-circle text-success addTestCaseRow" aria-hidden="true" style="font-size: x-large; cursor: pointer"></i><input type="hidden" id="hdnBOQSubTypeId" value="0" /></td>
            </tr>

                recCount = recCount + 1;
        }
    }
}
