﻿@using NetRachisCore.Helpers
@model NetRachisCore.Models.BusinessObjects.TestCaseBuildDev
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    <title>@ViewBag.Title</title>
    var recCount = 1;
}


<div class="single-product-tab-area pd-tb-15">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            @if (Model.TestCaseBuildDevId > 0)
                            {
                                <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> TestCase Builder Edit</a></li>
                            }
                            else
                            {
                                <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> TestCase Builder Create</a></li>
                            }
                        </ul>
                        @using (Html.BeginForm(Actions.AddEdit, Controllers.TestCaseBuildDev, FormMethod.Post, new { id = "frmTestCaseBuildDev" }))
                        {
                            @Html.HiddenFor(m => m.TestCaseBuildDevId)

                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-level-down" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.ProjectId, Model.ProjectList, "Select Project", new { @tabindex = 1, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;" })
                                                    @Html.HiddenFor(m => m.ProjectId)
                                                </div>
                                            </div>
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-level-down" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.ModuleId, Model.ModuleList, "Select Module", new { @tabindex = 2, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;" })
                                                    @Html.HiddenFor(m => m.ModuleId)
                                                </div>
                                            </div>
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-level-down" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.TestCaseBuildId, Model.TestCaseBuildList, "Select TestCase Build", new { @tabindex = 3, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;" })
                                                </div>
                                            </div>
                                        </div>
                                        @if (Model.TestCaseBuildDevId == 0)
                                        {
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-level-down" aria-hidden="true"></i></span>
                                                        @Html.DropDownListFor(m => m.CloneFromProjectId, Model.ProjectList, "Select Project", new { @tabindex = 4, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;" })
                                                    </div>
                                                </div>
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-level-down" aria-hidden="true"></i></span>
                                                        @Html.DropDownListFor(m => m.CloneFromModuleId, Model.ModuleList, "Select Module", new { @tabindex = 5, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;" })
                                                    </div>
                                                </div>
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-level-down" aria-hidden="true"></i></span>
                                                        @Html.DropDownListFor(m => m.CloneFromTestCaseBuildId, Model.TestCaseBuildList, "Select TestCase Build", new { @tabindex = 6, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;" })
                                                    </div>
                                                </div>
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt">
                                                        <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" tabindex="5" id="btnClone">
                                                            Clone
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="wizard">
                                        <div class="content">
                                            <div id="myTabContent" class="tab-content custom-product-edit m-20 p-20">
                                                <div class="table-responsive" id="divTestCaseTable">
                                                    <table class="table table-hover table-mailbox testCaseTable" style="min-width:675px;">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th class="text-center">TestCase</th>
                                                                <th class="text-center">Type</th>
                                                                <th class="text-center">Table</th>
                                                                <th class="text-center">Column</th>
                                                                <th class="text-center">Target Table</th>
                                                                <th class="text-center">Target Column</th>
                                                                <th class="text-center">Value/ Match</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.ChildItemRefList != null)
                                                            {
                                                                if (Model.ChildItemRefList.Count > 0)
                                                                {
                                                                    foreach (var item in Model.ChildItemRefList)
                                                                    {
                                                                        <tr>
                                                                            @if (recCount == 1)
                                                                            {
                                                                                <td class="text-right childtd tdwidth20"><i class="fa fa-minus-circle text-danger removeTestCaseRow" aria-hidden="true" style="font-size: x-large;cursor: pointer;visibility:hidden"></i></td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td class="text-right childtd tdwidth20"><i class="fa fa-minus-circle text-danger removeTestCaseRow" aria-hidden="true" style="font-size: x-large;cursor: pointer;"></i></td>
                                                                            }
                                                                            <td class="childtd tdwidth110">
                                                                                <div class="review-content-section">
                                                                                    <div class="mg-b-pro-edt" style="text-align:center;">
                                                                                        @recCount
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td class="childtd tdwidth110">
                                                                                <div class="review-content-section">
                                                                                    <div class="mg-b-pro-edt">
                                                                                        @Html.DropDownList("TestCaseType", item.TestCaseTypeList, "Select Type", new { @tabindex = 4, @class = "form-control pro-edt-select form-control-primary drpType inputreq", @style = "cursor:pointer;" })
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td class="childtd tdwidth80">
                                                                                <div class="review-content-section">
                                                                                    <div class="mg-b-pro-edt">
                                                                                        @Html.DropDownList("TableId", item.TableList, "Select", new { @tabindex = 4, @class = "form-control pro-edt-select form-control-primary drpTable inputreq", @style = "cursor:pointer;" })
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td class="childtd tdwidth80">
                                                                                <div class="review-content-section">
                                                                                    <div class="mg-b-pro-edt">
                                                                                        @Html.DropDownList("ColumnId", item.ColumnList, "Select", new { @tabindex = 4, @class = "form-control pro-edt-select form-control-primary drpColumn inputreq", @style = "cursor:pointer;" })
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td class="childtd tdwidth80">
                                                                                <div class="review-content-section">
                                                                                    <div class="mg-b-pro-edt">
                                                                                        @Html.DropDownList("TargetTableId", item.TargetTableList, "Select", new { @tabindex = 4, @class = "form-control pro-edt-select form-control-primary drpTable drpTargetTable inputreq", @style = "cursor:pointer;" })
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td class="childtd tdwidth80">
                                                                                <div class="review-content-section">
                                                                                    <div class="mg-b-pro-edt">
                                                                                        @Html.DropDownList("TargetColumnId", item.TargetColumnList, "Select", new { @tabindex = 4, @class = "form-control pro-edt-select form-control-primary drpColumn drpTargetColumn inputreq", @style = "cursor:pointer;" })
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td class="childtd tdwidth80" style="vertical-align: baseline;">
                                                                                <div class="review-content-section">
                                                                                    <div class="mg-b-pro-edt">
                                                                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding:0;">
                                                                                            <input type="text" id="txtValue" class="form-control txtValue inputreq" placeholder="Value/ Match" title="Value/ Match" value="@item.MatchCondition">
                                                                                        </div>
                                                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding:0;text-align:right;">
                                                                                            <a href="#" data-id="@recCount" data-toggle="modal" title="Formula Builder" class="pd-setting-ed mg-t exprpop" data-target="#exprModal"><i aria-hidden="true">...</i></a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td class="childtd tdwidth20"><i class="fa fa-plus-circle text-success addTestCaseRow" aria-hidden="true" style="font-size: x-large; cursor: pointer"></i><input type="hidden" id="hdnBOQSubTypeId" value="0" /></td>
                                                                        </tr>

                                                                            recCount = recCount + 1;
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td class="text-right childtd tdwidth20"><i class="fa fa-minus-circle text-danger removeTestCaseRow" aria-hidden="true" style="font-size: x-large;cursor: pointer;visibility:hidden"></i></td>
                                                                    <td class="childtd tdwidth110">
                                                                        <div class="review-content-section">
                                                                            <div class="mg-b-pro-edt" style="text-align:center;">
                                                                                1
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="childtd tdwidth110">
                                                                        <div class="review-content-section">
                                                                            <div class="mg-b-pro-edt">
                                                                                @Html.DropDownList("TestCaseType", Model.TestCaseTypeList, "Select Type", new { @tabindex = 4, @class = "form-control pro-edt-select form-control-primary drpType inputreq", @style = "cursor:pointer;" })
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="childtd tdwidth80">
                                                                        <div class="review-content-section">
                                                                            <div class="mg-b-pro-edt">
                                                                                @Html.DropDownList("TableId", Model.TableList, "Select", new { @tabindex = 4, @class = "form-control pro-edt-select form-control-primary drpTable inputreq", @style = "cursor:pointer;" })
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="childtd tdwidth80">
                                                                        <div class="review-content-section">
                                                                            <div class="mg-b-pro-edt">
                                                                                @Html.DropDownList("ColumnId", Model.ColumnList, "Select", new { @tabindex = 4, @class = "form-control pro-edt-select form-control-primary drpColumn inputreq", @style = "cursor:pointer;" })
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="childtd tdwidth80">
                                                                        <div class="review-content-section">
                                                                            <div class="mg-b-pro-edt">
                                                                                @Html.DropDownList("TargetTableId", Model.TableList, "Select", new { @tabindex = 4, @class = "form-control pro-edt-select form-control-primary drpTable drpTargetTable inputreq", @style = "cursor:pointer;" })
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="childtd tdwidth80">
                                                                        <div class="review-content-section">
                                                                            <div class="mg-b-pro-edt">
                                                                                @Html.DropDownList("TargetColumnId", Model.ColumnList, "Select", new { @tabindex = 4, @class = "form-control pro-edt-select form-control-primary drpColumn drpTargetColumn inputreq", @style = "cursor:pointer;" })
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="childtd tdwidth80" style="vertical-align: baseline;">
                                                                        <div class="review-content-section">
                                                                            <div class="mg-b-pro-edt">
                                                                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding:0;">
                                                                                    <input type="text" id="txtValue" class="form-control txtValue inputreq" placeholder="Value/ Match" title="Value/ Match">
                                                                                </div>
                                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding:0;text-align:right;">
                                                                                    <a href="#" data-id="1" data-toggle="modal" title="Formula Builder" class="pd-setting-ed mg-t exprpop" data-target="#exprModal"><i aria-hidden="true">...</i></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="childtd tdwidth20"><i class="fa fa-plus-circle text-success addTestCaseRow" aria-hidden="true" style="font-size: x-large; cursor: pointer"></i><input type="hidden" id="hdnBOQSubTypeId" value="0" /></td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                    @Html.HiddenFor(m => m.strChildItemRefList)
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="divTypeSelect" style="display:none">
                                        @Html.DropDownList("HdnTestCaseType", Model.TestCaseTypeList, "Select Type", new { @class = "form-control pro-edt-select form-control-primary drpType inputreq", @style = "cursor:pointer;" })
                                    </div>
                                    @*<div id="divTableSelect" style="display:none">
                                            @Html.DropDownList("HdnTableId", Model.TableList, "Select", new { @class = "form-control pro-edt-select form-control-primary drpTable inputreq", @style = "cursor:pointer" })
                                        </div>
                                        <div id="divTargetTableSelect" style="display:none">
                                            @Html.DropDownList("HdnTableId", Model.TableList, "Select", new { @class = "form-control pro-edt-select form-control-primary drpTable drpTargetTable inputreq", @style = "cursor:pointer" })
                                        </div>*@

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                <button id="btnSubmit" type="submit" class="btn btn-primary waves-effect waves-light m-r-10" tabindex="5">
                                                    Save
                                                </button>
                                                <a href="/TestCaseBuildDev/Index" class="btn btn-warning waves-effect waves-light" tabindex="6"> Discard </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdnCloneBind" value="0" />
<!-- Expression Modal -->
<div id="exprModal" class="modal modal-adminpro-general modal-zoomInDown fade" role="dialog">
    <div class="modal-dialog" style="padding:20px;width:60%">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body" style="padding:30px 40px">
                <div class="modal-login-form-inner">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="basic-login-inner modal-basic-inner">
                                <h3>Expression Builder</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <textarea class="form-control" placeholder="Expression" title="Expression" id="txtExpr"></textarea>
                            <div style="margin-top:10px;">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-bottom:10px;">
                                    <div style="border: 1px solid gainsboro; padding: 10px">
                                        Source Fields:
                                        <div id="divSrc">
                                            <a href="#" class="linkBtn">Tablename - ColumnName</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-bottom:10px;">
                                    <div style="border: 1px solid gainsboro; padding: 10px">
                                        Target Fields:
                                        <div id="divTar">
                                            <a href="#" class="linkBtn">Tablename - ColumnName</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div style="padding: 10px 0 10px 10px; border: 1px solid gainsboro; ">
                                <div>
                                    <a href="#" class="pd-setting-ed linkBtn">(</a>
                                    <a href="#" class="pd-setting-ed linkBtn">)</a>
                                    <a href="#" class="pd-setting-ed linkBtn">.</a>
                                </div>
                                <div>
                                    <a href="#" class="pd-setting-ed linkBtn">/</a>
                                    <a href="#" class="pd-setting-ed linkBtn">*</a>
                                    <a href="#" class="pd-setting-ed linkBtn">+</a>
                                    <a href="#" class="pd-setting-ed linkBtn">-</a>
                                    <a href="#" class="pd-setting-ed linkBtn">=</a>
                                </div>
                                <div>
                                    <a href="#" class="pd-setting-ed linkBtn">1</a>
                                    <a href="#" class="pd-setting-ed linkBtn">2</a>
                                    <a href="#" class="pd-setting-ed linkBtn">3</a>
                                    <a href="#" class="pd-setting-ed linkBtn">4</a>
                                    <a href="#" class="pd-setting-ed linkBtn">5</a>
                                    <a href="#" class="pd-setting-ed linkBtn">6</a>
                                    <a href="#" class="pd-setting-ed linkBtn">7</a>
                                    <a href="#" class="pd-setting-ed linkBtn">8</a>
                                    <a href="#" class="pd-setting-ed linkBtn">9</a>
                                    <a href="#" class="pd-setting-ed linkBtn">0</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="login-horizental text-center">
                                <button type="button" class="btn btn-default waves-effect waves-light m-r-10 btn-deleteok">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->

<script src="~/js/jquery-1.10.2.min.js"></script>
<script src="~/js/testcasebuild.js"></script>
