﻿@using NetRachisCore.Helpers
@*@model NetRachisCore.Models.BusinessObjects.XmlComparison*@
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="single-product-tab-area pd-tb-15">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Pull XML</a></li>
                        </ul>
                        @using (Html.BeginForm(Actions.PullXml, Controllers.XmlPull, FormMethod.Post, new { id = "frmXmlPull", enctype = "multipart/form-data" }))
                        {
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description"> 
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10" tabindex="3">
                                                    Pull
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".menuitem li a.active").removeClass("active");
        $("#xmlcompare-menu a").attr("aria-expanded", "true");
        $("#xmlcompare-menu ul").addClass('in');
        $(".menuitem a#aXmlPull").addClass('active');
    });
</script>  