﻿@using NetRachisCore.Helpers
@model NetRachisCore.Models.BusinessObjects.Trade
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="single-product-tab-area pd-tb-15">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Trade</a></li>
                        </ul>
                        @using (Html.BeginForm(Actions.PullXml, Controllers.XmlPull, FormMethod.Post, new { id = "frmXmlPull", enctype = "multipart/form-data" }))
                        {
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-level-down" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.TradeTypeId, Model.TradeTypeList, "Select TradeType", new { @tabindex = 1, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            Excel dynamically populated
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alignright">
                                            <div class="text-center mg-b-pro-edt">
                                                <div class="dropdown" style="text-align:right">
                                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                        Action
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="#">DO</a></li>
                                                        <li><a href="#">Save</a></li>
                                                        <li><a href="#">Verify</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".menuitem li a.active").removeClass("active");
        $("#trading-menu a").attr("aria-expanded", "true");
        $("#trading-menu ul").addClass('in');
        $(".menuitem a#aTrade").addClass('active');
    });
</script>  