﻿@using NetRachisCore.Helpers
@model List<NetRachisCore.Models.BusinessObjects.Module>

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    <title>@ViewBag.Title</title>
}
<div class="data-table-area pd-tb-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>Module List</h1>
                            <div class="add-product">
                                <a href="../Module/AddEdit?moduleId=0" data-toggle="tooltip" title="Click to add new Module">Add Module</a>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <select class="form-control">
                                    <option value="">Export Basic</option>
                                    <option value="all">Export All</option>
                                    <option value="selected">Export Selected</option>
                                </select>
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                   data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="false" data-toolbar="#toolbar" class="dataTable">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th> 
                                        <th data-field="name">Project Name</th>
                                        <th data-field="modname">Module Name</th>
                                        <th data-field="description">Description</th>
                                        <th data-field="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td></td> 
                                                <td>@item.ProjectName</td>
                                                <td>@item.ModuleName</td>
                                                <td>@item.Description</td>
                                                <td>
                                                    <a href="../Module/AddEdit?moduleId=@item.ModuleId" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                    <a href="#" data-id="@item.ModuleId" data-toggle="modal" title="Trash" class="pd-setting-ed zoomInDown mg-t deletepop" data-target="#confirm-delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="confirm-delete" class="modal modal-adminpro-general modal-zoomInDown fade" role="dialog">
    <div class="modal-dialog" style="padding:20px;">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body">
                <div class="modal-login-form-inner">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="basic-login-inner modal-basic-inner">
                                <h3>Delete the Module?</h3>
                                <p>These item will be deleted and cannot be recovered. Are you sure?</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: right;">
                            <div class="login-horizental">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-default waves-effect waves-light m-r-10 btn-deleteok">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
<!-- /.modal -->

<script src="~/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".menuitem li a.active").removeClass("active"); 
        $("#static-menu a").attr("aria-expanded", "true");
        $("#static-menu ul").addClass('in');
        $(".menuitem a#aModule").addClass('active');

        $(".dataTable").on('click', '.deletepop', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            $('#confirm-delete').data('id', id);
        });

        $('.btn-deleteok').on('click', function (e) {
            window.location.href = "../Module/Delete?moduleId=" + $('#confirm-delete').data('id');
        });
    });
</script>  
