﻿@using NetRachisCore.Helpers
@model NetRachisCore.Models.BusinessObjects.User
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    <title>@ViewBag.Title</title> 
}

<div class="single-product-tab-area pd-tb-15">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            @if (Model.UserId > 0)
                            {
                                <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> User Edit</a></li>
                            }
                            else
                            {
                                <li class="active"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> User Create</a></li>
                            }
                        </ul>
                        @using (Html.BeginForm(Actions.AddEdit, Controllers.User, FormMethod.Post, new { id = "frmUser" }))
                        {
                            @Html.HiddenFor(m => m.UserId)                            
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description"> 
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-edit" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.UserName, new { @tabindex = 1, @class = "form-control", @placeholder = "Username", @required = true, @title = "Username" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                                    @Html.TextBoxFor(m => m.EmailId, new { @tabindex = 2, @class = "form-control", @placeholder = "Email Id", @title = "Email Id", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                                                    @Html.PasswordFor(m => m.Password, new { @tabindex = 3, @class = "form-control", @placeholder = "Password", @required = true, @title = "Password" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-check-square" aria-hidden="true"></i></span>
                                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @tabindex = 4, @class = "form-control", @placeholder = "Confirm Password", @title = "ConfirmPassword", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-level-down" aria-hidden="true"></i></span>
                                                    @Html.DropDownListFor(m => m.RoleId, Model.Roles, "Select Role", new { @tabindex = 5, @class = "select2_demo_2 form-control", @style = "width:100%;position: absolute;", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="bt-df-checkbox pull-left">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="i-checks pull-left">
                                                                <label>
                                                                    @Html.CheckBoxFor(m => m.ActiveStatus, new { @tabindex = 6 }) <i></i> Active Status
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10" tabindex="7">
                                                    Save
                                                </button>
                                                <a href="/User/Index" class="btn btn-warning waves-effect waves-light" tabindex="8"> Discard </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".menuitem li a.active").removeClass("active");
        $("#admin-menu a").attr("aria-expanded", "true");
        $("#admin-menu ul").addClass('in');
        $(".menuitem a#aUser").addClass('active');
    });
</script>
 
